@charset "UTF-8";
.board__tab.tab .tab-left ul li a, .board__tab.tab .tab-right ul li a, .board-article__list .board-article__item .text ul li.meta-data, .board-detailview .view-article .view-article__header .tit span, .board-detailview .view-article .view-article__header .view-article__sub-header .profile span, .board-detailview .view-article .view-article__header .view-article__sub-header .meta-data span, .board-detailview .comment-list .commnet-list__best .commnet-list-item__best .cont-right .btn ul li button, .comment-list .commnet-list__normal .commnet-list-item__normal .commnet .cont-right .btn ul li button, .board-detailview .comment-list .commnet-list__normal .reply .wrap .btn ul li button {
  color: #9b9b9b;
}

.board__tab.tab .tab-left, .board__tab.tab .tab-right, .board-article__list, .board-detailview .view-article, .board-detailview .view-conmment-write, .pagination {
  border: 1px solid #e8e8ed;
  background-color: #ffffff;
}

.board {
  float: right;
  width: 744px;
}

.board__tab.tab .tab-left {
  padding: 10px 16px;
  float: left;
}

.board__tab.tab .tab-left ul li {
  float: left;
}

.board__tab.tab .tab-left ul li a {
  display: inline-block;
  padding: 8px 16px;
}

.board__tab.tab .tab-left ul li a img {
  width: 20px;
  height: 20px;
  margin-right: 4px;
  vertical-align: middle;
}

.board__tab.tab .tab-left ul li a span {
  vertical-align: middle;
}

.board__tab.tab .tab-right {
  padding: 10px 16px;
  float: right;
}

.board__tab.tab .tab-right ul li a {
  display: inline-block;
  padding: 8px 16px;
}

.board__tab.tab .tab-right ul li a img {
  width: 20px;
  height: 20px;
  margin-right: 4px;
  vertical-align: middle;
}

.board__tab.tab .tab-right ul li a span {
  vertical-align: middle;
}

.board-article__list {
  margin-top: 16px;
  width: 100%;
  background-color: #ffffff;
}

.board-article__list .board-article__item {
  padding: 8px 16px;
  margin-top: -1px;
  display: table;
  table-layout: fixed;
  border-bottom: 1px solid #e8e8ed;
}

.board-article__list .board-article__item .text {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}

.board-article__list .board-article__item .text ul li.tit {
  font-size: 14px;
}

.board-article__list .board-article__item .text ul li.tit em {
  margin-left: 4px;
  color: #6332f6;
  font-weight: 500;
}

.board-article__list .board-article__item .text ul li.meta-data {
  margin-top: 4px;
}

.board-article__list .board-article__item .text ul li.meta-data span {
  font-size: 14px;
  margin-right: 8px;
}

.board-article__list .board-article__item .img {
  display: table-cell;
  vertical-align: middle;
}

.board-article__list .board-article__item .img img {
  width: 93px;
  height: 60px;
  display: block;
  margin-left: 3px;
}

.board-article__list .board-article__item .blank-area {
  display: table-cell;
  vertical-align: middle;
  width: 93px;
  height: 60px;
  display: block;
  margin-left: 3px;
}

/*-----게시판 디테일뷰------*/
.board-detailview .view-article .view-article__header {
  padding: 16px;
  border-bottom: 1px solid #e8e8ed;
}

.board-detailview .view-article .view-article__header .tit {
  font-size: 25px;
}

.board-detailview .view-article .view-article__header .tit span {
  font-size: 14px;
  float: right;
  margin-top: 10px;
}

.board-detailview .view-article .view-article__header .view-article__sub-header {
  margin-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.board-detailview .view-article .view-article__header .view-article__sub-header .profile {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.board-detailview .view-article .view-article__header .view-article__sub-header .profile img {
  border: 1px solid #e8e8ed;
  border-radius: 15px;
  width: 32px;
  margin-right: 8px;
  vertical-align: middle;
}

.board-detailview .view-article .view-article__header .view-article__sub-header .profile span {
  vertical-align: middle;
}

.board-detailview .view-article .view-article__header .view-article__sub-header .meta-data span {
  font-size: 14px;
  margin-left: 4px;
}

.board-detailview .view-article .view-article__cont {
  padding: 24px;
}

.board-detailview .view-article .view-article__cont img {
  text-align: center;
}

.board-detailview .view-article .view-article__cont p {
  margin-top: 10px;
}

.board-detailview .view-btn {
  background-color: #ffffff;
  margin-top: 8px;
  padding: 16px 24px;
  width: 100%;
}

.board-detailview .view-btn ul li {
  float: left;
  margin-right: 40px;
}

.board-detailview .view-btn ul li button {
  background-color: #ffffff;
}

.board-detailview .view-btn ul li button img {
  width: 18px;
  margin-right: 6px;
  vertical-align: middle;
}

.board-detailview .view-btn ul li button span {
  vertical-align: middle;
}

/*--댓글작성--*/
.board-detailview .view-conmment-write {
  margin-top: 10px;
  overflow: hidden;
}

.board-detailview .view-conmment-write textarea {
  display: block;
  width: 100%;
  padding: 16px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.board-detailview .view-conmment-write .btn {
  float: right;
  font-size: 16px;
}

.board-detailview .view-conmment-write .btn button {
  padding: 8px 16px;
  color: #6332f6;
  background-color: #ffffff;
}

/*--베스트댓글--*/
.board-detailview .comment-list .commnet-list__best {
  margin-top: 8px;
  border: 1px solid #e8e8ed;
  background-color: #f6f9ff;
  margin-bottom: 8px;
}

.board-detailview .comment-list .commnet-list__best .commnet-list-item__best {
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e8e8ed;
}

.board-detailview .comment-list .commnet-list__best .commnet-list-item__best .cont-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 8px;
}

.board-detailview .comment-list .commnet-list__best .commnet-list-item__best .cont-left .profile img {
  width: 32px;
  border: 1px solid #e8e8ed;
  border-radius: 15px;
}

.board-detailview .comment-list .commnet-list__best .commnet-list-item__best .cont-right {
  width: 100%;
}

.board-detailview .comment-list .commnet-list__best .commnet-list-item__best .cont-right .user-nickname {
  font-weight: 500;
  font-size: 14px;
}

.board-detailview .comment-list .commnet-list__best .commnet-list-item__best .cont-right p {
  margin-top: 4px;
  font-size: 14px;
}

.board-detailview .comment-list .commnet-list__best .commnet-list-item__best .cont-right .btn {
  margin-top: 8px;
}

.board-detailview .comment-list .commnet-list__best .commnet-list-item__best .cont-right .btn ul li {
  float: left;
  margin-right: 12px;
}

.board-detailview .comment-list .commnet-list__best .commnet-list-item__best .cont-right .btn ul li button {
  font-size: 13px;
}

/*--일반댓글--*/
.comment-list .commnet-list__normal {
  border: 1px solid #e8e8ed;
}

.comment-list .commnet-list__normal .commnet-list-item__normal .commnet .wrap {
  padding: 12px;
  border-bottom: 1px solid #e8e8ed;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment-list .commnet-list__normal .commnet-list-item__normal .commnet .wrap .cont-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 8px;
}

.comment-list .commnet-list__normal .commnet-list-item__normal .commnet .wrap .cont-left .profile img {
  width: 32px;
  border: 1px solid #e8e8ed;
  border-radius: 15px;
}

.comment-list .commnet-list__normal .commnet-list-item__normal .commnet .cont-right {
  width: 100%;
}

.comment-list .commnet-list__normal .commnet-list-item__normal .commnet .cont-right .user-nickname {
  font-weight: 500;
  font-size: 14px;
}

.comment-list .commnet-list__normal .commnet-list-item__normal .commnet .cont-right p {
  margin-top: 4px;
  font-size: 14px;
}

.comment-list .commnet-list__normal .commnet-list-item__normal .commnet .cont-right .btn {
  margin-top: 8px;
}

.comment-list .commnet-list__normal .commnet-list-item__normal .commnet .cont-right .btn ul li {
  float: left;
  margin-right: 12px;
}

.comment-list .commnet-list__normal .commnet-list-item__normal .commnet .cont-right .btn ul li button {
  font-size: 14px;
}

/*--대댓글--*/
.board-detailview .comment-list .commnet-list__normal .reply .wrap {
  border-bottom: 1px solid #e8e8ed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px;
  background-color: #f8f9fa;
  position: relative;
}

.board-detailview .comment-list .commnet-list__normal .reply .wrap .cont-left {
  padding-left: 64px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 8px;
}

.board-detailview .comment-list .commnet-list__normal .reply .wrap .cont-left img {
  width: 32px;
  border: 1px solid #e8e8ed;
  border-radius: 15px;
}

.board-detailview .comment-list .commnet-list__normal .reply .wrap .cont-right {
  width: 100%;
}

.board-detailview .comment-list .commnet-list__normal .reply .wrap .cont-right h2 {
  font-size: 14px;
  display: inline;
  font-weight: 500;
}

.board-detailview .comment-list .commnet-list__normal .reply .wrap .cont-right span {
  font-size: 14px;
  margin-left: 4px;
  font-weight: 400;
  color: #9b9b9b !important;
}

.board-detailview .comment-list .commnet-list__normal .reply .wrap .cont-right p {
  font-size: 14px;
  display: inline;
  margin-left: 4px;
  color: #111111;
  font-weight: 400;
}

.board-detailview .comment-list .commnet-list__normal .reply .wrap .btn {
  margin-top: 8px;
}

.board-detailview .comment-list .commnet-list__normal .reply .wrap .btn ul li {
  float: left;
}

.board-detailview .comment-list .commnet-list__normal .reply .wrap .btn ul li button {
  font-size: 13px;
  margin-right: 8px;
}

.board-detailview .comment-list .commnet-list__normal .reply::before {
  position: absolute;
  top: 10px;
  left: 54px;
  content: "";
  width: 12px;
  height: 12px;
  border-left: 1px solid #c5cbd0;
  border-bottom: 1px solid #c5cbd0;
}

/*--대댓글 작성--*/
.commnet-reply-write {
  position: relative;
  background-color: #f8f9fa;
  padding: 12px 16px 12px 72px;
  border-bottom: 1px solid #e8e8ed;
}

.commnet-reply-write div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  border: 1px solid #e8e8ed;
}

.commnet-reply-write div input {
  padding: 16px;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.commnet-reply-write div ul li button {
  color: #6332f6;
  line-height: 56px;
  width: 100px;
}

.commnet-reply-write::before {
  position: absolute;
  top: 10px;
  left: 54px;
  content: "";
  width: 12px;
  height: 12px;
  border-left: 1px solid #c5cbd0;
  border-bottom: 1px solid #c5cbd0;
}

/*-----댓글더보기-----*/
.add-reply button {
  margin-top: 8px;
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  height: 56px;
  line-height: 56px;
  color: #9b9b9b;
}

/*-----페이지네이션-----*/
.paging-btn {
  text-align: center;
  margin-top: 16px !important;
  display: block;
  margin: 0 auto;
}

.paging-btn ul {
  display: inline-block;
}

.paging-btn ul li {
  float: left;
  margin-right: 16px;
}

.paging-btn ul li button {
  width: 80px;
  height: 48px;
}

.paging-btn ul li button img {
  width: 15px;
  vertical-align: middle;
}

.paging-btn ul li button span {
  vertical-align: middle;
}

.pagination {
  margin-top: 13px;
  text-align: center;
}

.pagination .wrap {
  display: inline-block;
}

.pagination .wrap .btn {
  float: left;
  margin-bottom: -10px;
}

.pagination .wrap .btn a {
  display: inline-block;
  padding: 16px 10px;
}

.pagination .wrap .btn a img {
  margin-top: 5px;
  width: 16px;
}

.pagination .wrap .num {
  float: left;
  margin-bottom: -4px;
}

.pagination .wrap .num span a {
  display: inline-block;
  padding: 16px 10px;
}

.board-write input {
  width: 100%;
  padding: 10px 16px;
  margin-bottom: 16px;
  border: 1px solid #e8e8ed;
}

.board-write .blank-area {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #e8e8ed;
  padding: 16px;
  font-size: 14px;
  height: 500px;
}

.board-write .btn {
  margin-top: 20px;
  text-align: center;
}

.board-write .btn ul {
  display: inline-block;
}

.board-write .btn ul li {
  float: left;
  background-color: #ffffff;
  border: 1px solid #e8e8ed;
  margin-right: 8px;
}

.board-write .btn ul li a {
  display: inline-block;
  padding: 16px 50px;
  color: #9b9b9b;
}

.board-write .btn ul li:nth-last-child(1) {
  background-color: #6332f6;
}

.board-write .btn ul li:nth-last-child(1) a {
  color: #ffffff;
}
/*# sourceMappingURL=board.css.map */