.hot-deal__serch, .hot-deal__serch .inner .form .autocomplete .inner {
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 3px 0 rgba(104, 87, 87, 0.15);
          box-shadow: 0 1px 3px 0 rgba(104, 87, 87, 0.15);
}

.index {
  float: right;
  width: 744px;
}

.hot-deal {
  float: right;
  width: 744px;
}

.hot-deal__serch .inner {
  text-align: center;
  padding: 35px;
}

.hot-deal__serch .inner .form {
  display: inline;
  position: relative;
}

.hot-deal__serch .inner .form input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #6332f6;
  width: 77%;
  padding: 8px 4px;
}

.hot-deal__serch .inner .form input::-webkit-input-placeholder {
  color: #9b9b9b;
  font-size: 15px;
}

.hot-deal__serch .inner .form input:-ms-input-placeholder {
  color: #9b9b9b;
  font-size: 15px;
}

.hot-deal__serch .inner .form input::-ms-input-placeholder {
  color: #9b9b9b;
  font-size: 15px;
}

.hot-deal__serch .inner .form input::placeholder {
  color: #9b9b9b;
  font-size: 15px;
}

.hot-deal__serch .inner .form button {
  height: 40px;
  width: 30px;
}

.hot-deal__serch .inner .form button img {
  width: 20px;
  vertical-align: middle;
  margin-top: 10px;
}

.hot-deal__serch .inner .form .autocomplete {
  z-index: 10;
  position: absolute;
  width: 94%;
  left: 0;
  top: 40px;
}

.hot-deal__serch .inner .form .autocomplete .inner {
  background-color: #ffffff;
  text-align: left;
  padding: 8px;
  border: 1px solid #e8e8ed;
}

.hot-deal__serch .inner .form .autocomplete .inner ul li {
  color: #9b9b9b;
  cursor: pointer;
  font-size: 14px;
  padding: 4px;
}

.hot-deal__serch .inner .form .autocomplete .inner ul li:hover {
  background-color: #f2f2f2;
}

.hot-deal__itemlist .inner ul li {
  margin-bottom: 4px;
  width: 24.2%;
  margin: 0.4%;
  padding: 10px;
  float: left;
  background-color: #ffffff;
  border: 1px solid #e8e8ed;
}

.hot-deal__itemlist .inner ul li .img {
  padding: 20px;
}

.hot-deal__itemlist .inner ul li .img a img {
  width: 100%;
}

.hot-deal__itemlist .inner ul li .desc {
  margin-top: 10px;
}

.hot-deal__itemlist .inner ul li .desc .tit {
  font-size: 14px;
  font-family: s-core-dream-regular;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 42px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.hot-deal__itemlist .inner ul li .desc .tit a {
  color: #424242;
}

.hot-deal__itemlist .inner ul li .desc .tit:hover a {
  color: #6332f6;
}

.hot-deal__itemlist .inner ul li .desc .price {
  margin-top: 10px;
  font-size: 18px;
}

.hot-deal__itemlist .inner ul li .desc .price em {
  margin-left: 4px;
  font-size: 14px;
  font-weight: 400;
}

.hot-deal__itemlist .inner ul li .desc .fee {
  font-family: s-core-dream-regular;
  font-size: 13px;
  color: #9b9b9b;
}

.hot-deal__itemlist .inner ul li .desc .fee em {
  margin-left: 4px;
}

.hot-deal__itemlist .inner ul li .desc .icon {
  font-family: s-core-dream-regular;
  display: inline-block;
  font-size: 10px;
}

.hot-deal__itemlist .inner ul li .desc .icon .ic_deal_market {
  display: inline-block;
  padding: 3px 5px;
  background-color: #6332f6;
  color: #ffffff;
}

.hot-deal__itemlist .inner ul li .desc .icon .ic_deal_community {
  display: inline-block;
  padding: 3px 5px;
  margin-left: 4px;
  background-color: #d2d6d9;
  color: #ffffff;
}

.hot-deal__itemlist .inner ul li .btn {
  margin-top: 10px;
  float: right;
}

.hot-deal__itemlist .inner ul li .btn .ic_share {
  width: 20px;
}

.hot-deal__itemlist .inner ul li .btn .ic_like {
  margin-left: 8px;
  width: 20px;
}

.hot-deal__itemlist img:hover .tit a {
  color: red;
}
/*# sourceMappingURL=hotdeal.css.map */