@charset "UTF-8";
@media (max-width: 480px) {
  html,
  body {
    height: 100%;
    position: relative;
  }
  .container {
    width: 100% !important;
  }
  .row {
    padding: 0 16px;
  }
  .blank-header {
    display: none;
  }
  .banner {
    display: none;
  }
  .side-bar {
    display: none;
  }
  .share-layerpopup {
    width: 100% !important;
  }
  .share-layerpopup .share-layerpopup__inner {
    padding: 20px !important;
  }
  .share-layerpopup .share-layerpopup__inner h1 {
    font-size: 20px !important;
  }
  .share-layerpopup .share-layerpopup__inner h1 button {
    padding: 8px !important;
  }
  .share-layerpopup .share-layerpopup__inner h1 button img {
    width: 16px !important;
  }
  /*-------------네비게이션드로어-----------------*/
  .m-nav-draw {
    display: block !important;
    position: fixed;
    width: 80%;
    height: 100%;
    background-color: #ffffff;
    z-index: 100;
    top: 0;
    left: -100%;
  }
  .m-nav-draw .m-nav-draw__inner .btn {
    padding: 40px 16px;
  }
  .m-nav-draw .m-nav-draw__inner .btn button {
    width: 100%;
    padding: 16px 16px;
    display: inline-block;
    background-color: #6332f6;
    color: #ffffff;
    text-align: center;
    border-radius: 3px;
    font-weight: 500;
  }
  .m-nav-draw .m-nav-draw__inner .m-nav-draw__nav ul li {
    border-top: 1px solid #e8e8ed;
  }
  .m-nav-draw .m-nav-draw__inner .m-nav-draw__nav ul li a {
    width: 100%;
    display: inline-block;
    padding: 16px 16px;
  }
  .m-nav-draw .m-nav-draw__inner .m-nav-draw__nav ul li a img {
    width: 20px;
    vertical-align: middle;
    margin-right: 16px;
    margin-top: -2px;
  }
  .m-nav-draw .m-nav-draw__inner .m-nav-draw__nav ul li a span {
    font-size: 18px;
    font-weight: 400;
    color: #9b9b9b;
    vertical-align: middle;
  }
  .m-nav-draw .m-nav-draw__inner .m-nav-draw__nav ul li:nth-last-child(1) {
    border-bottom: 1px solid #e8e8ed;
  }
  /*--------------헤더--------------*/
  .header {
    width: 100% !important;
    position: relative;
    -webkit-box-shadow: rgba(27, 29, 31, 0.12) 0px 2px 10px;
            box-shadow: rgba(27, 29, 31, 0.12) 0px 2px 10px;
  }
  .header .header__log {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .header .header__log a {
    padding: 0 !important;
  }
  .header nav {
    display: none;
  }
  .header .m-header__btn {
    display: inline-block !important;
    padding: 20px 0;
  }
  .header .m-header__btn button {
    display: inline-block;
  }
  .header .m-header__btn button img {
    width: 32px;
    height: 32px;
  }
  /*----------모바일 서브헤더-------------*/
  .m-sub-header {
    display: block !important;
    background-color: #ffffff;
  }
  .m-sub-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .m-sub-header ul li {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
    float: left;
  }
  .m-sub-header ul li a {
    display: inline-block;
    padding: 16px 16px;
    position: relative;
  }
  /*---------레이어팝업------------*/
  .vote-layerpopup {
    width: 90%;
    padding: 16px !important;
    padding: 20px;
  }
  .vote-layerpopup textarea {
    width: 100% !important;
  }
  .vote-layerpopup h1 a {
    top: -20px !important;
    right: -10px !important;
  }
  .vote-layerpopup h1 a img {
    width: 16px !important;
  }
  .main {
    margin-top: 12px !important;
  }
  /*-----------투표-------------*/
  .vote {
    width: 100% !important;
    float: none;
  }
  .vote__main {
    margin-top: 12px !important;
    padding: 20px 16px !important;
    width: 100% !important;
    /*-----투표 그래프-----*/
    /*-----투표 탭-----*/
  }
  .vote__main h1 {
    font-size: 20px !important;
  }
  .vote__main h3 {
    font-weight: 400;
  }
  .vote__main .btn {
    margin-top: 44px !important;
  }
  .vote__main .btn .yes {
    position: relative;
  }
  .vote__main .btn .yes .m-yes__text {
    width: 100%;
    position: absolute;
    top: -25px;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    display: block !important;
    font-size: 13px;
    color: #9b9b9b;
  }
  .vote__main .btn .no {
    position: relative;
  }
  .vote__main .btn .no .m-no__text {
    width: 100%;
    position: absolute;
    top: -25px;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    display: block !important;
    font-size: 13px;
    color: #9b9b9b;
  }
  .vote__main .graph {
    display: none;
  }
  .vote__main .m-graph {
    display: block !important;
    margin-top: 20px;
  }
  .vote__main .m-graph .box {
    width: 56px;
    height: 56px;
    background-color: #111111;
    color: #ffffff;
    text-align: center;
    line-height: 56px;
    float: left;
    display: block;
  }
  .vote__main .m-graph .wrap {
    width: 83%;
    float: left;
  }
  .vote__main .m-graph .wrap .yes {
    width: 100%;
    height: 24px;
    background-color: #e8e8ed;
  }
  .vote__main .m-graph .wrap .yes span {
    display: block;
    width: 70%;
    height: 24px;
    background-color: #13bde9;
    -webkit-animation: yes 1s 0.7s;
            animation: yes 1s 0.7s;
  }
  .vote__main .m-graph .wrap .no {
    margin-top: 8px;
    width: 100%;
    height: 24px;
    background-color: #e8e8ed;
  }
  .vote__main .m-graph .wrap .no span {
    display: block;
    width: 30%;
    height: 24px;
    background-color: #fe6181;
    -webkit-animation: no 1s 0.7s;
            animation: no 1s 0.7s;
  }
  .vote__main .vote__tab .vote__tab-left {
    padding: 6px 16px !important;
  }
  .vote__main .vote__tab .vote__tab-left ul li a {
    padding: 6px 16px !important;
    font-size: 14px;
  }
  /*----지난투표----*/
  .vote-past-article__list article a h1 {
    font-size: 16px !important;
  }
  /*---------------게시판----------------*/
  .board {
    float: none;
    width: 100% !important;
  }
  /*-----게시판탭------*/
  .board__tab.tab .tab-right ul li a {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  /*-----게시판 디테일뷰-----*/
  .m_main {
    margin-top: 0 !important;
  }
  /*--디테일뷰헤더--*/
  .view-article__header .tit {
    font-size: 25px;
    display: block !important;
  }
  .view-article__header .tit span.m__span__none {
    display: none;
  }
  .view-article__header .view-article__sub-header {
    position: relative;
    display: block !important;
    margin-top: 16px !important;
  }
  .view-article__header .view-article__sub-header .profile .m__span__time {
    position: absolute;
    display: block !important;
    top: 3px;
    right: 16px;
    font-size: 14px;
  }
  .view-article__header .view-article__sub-header .meta-data {
    margin-top: 4px;
  }
  .view-article__header .view-article__sub-header .meta-data span {
    margin-right: 4px;
  }
  /*--디테일뷰 버튼--*/
  .board-detailview .view-btn ul li a img {
    margin-top: 2px;
  }
  /*-----게시판 -----*/
  .board-write input {
    margin-bottom: 8px !important;
  }
  /*-------------푸터----------------*/
  .footer .wrap {
    padding: 16px !important;
    display: block !important;
  }
  .footer .wrap .footer__left {
    text-align: center;
  }
  .footer .wrap .footer__left ul {
    display: inline-block;
  }
  .footer .wrap .footer__right {
    margin-top: 30px !important;
    text-align: center;
  }
  .footer .wrap .footer__right ul {
    display: inline-block;
  }
  .footer .wrap .footer__right ul li a {
    margin-left: 0 !important;
    margin-right: 20px;
  }
  /*----------------건의하기------------------*/
  .user-feedback__textarea {
    width: 100% !important;
  }
  .user-feedback__textarea textarea {
    width: 100% !important;
  }
  /*--------------회원가입 / 로그인-------------*/
  /*--전체--*/
  .sgin-up {
    width: 100% !important;
    height: 100% !important;
    padding: 0 !important;
  }
  .sgin-up .sgin-up__inner {
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100% !important;
    height: 100% !important;
    padding: 40px 20px !important;
    position: relative;
  }
  /*--버튼--*/
  .btn2 ul li {
    width: 150px !important;
    height: 56px !important;
  }
  .btn2 ul li a {
    padding: 16px 40px !important;
  }
  .btn2 ul li.next {
    background-color: #6332f6 !important;
  }
  /*--캔슬버튼--*/
  .m__cancel {
    display: block !important;
    width: 20px;
    position: absolute;
    right: 20px;
    top: 24px;
  }
  /*-------------내정보----------------*/
  .userinfo {
    padding: 16px !important;
  }
  .userinfo .btn ul li a {
    padding: 12px 60px !important;
  }
  .sub-header .sub-header__nav ul::-webkit-scrollbar {
    display: none;
  }
  .sub-header .sub-header__nav ul {
    overflow-x: auto;
    white-space: nowrap;
  }
  .sub-header .sub-header__nav ul li {
    display: inline-block;
    float: none;
    margin-right: 0;
  }
  .sub-header .sub-header__nav ul li a {
    padding: 16px 16px;
  }
  .sub-header__nav::-webkit-scrollbar {
    display: none !important;
  }
  .userinfo .edit .edit-inner .edit-table .edit-tr .edit-th {
    width: 120px !important;
    padding: 8px !important;
  }
  .userinfo .edit .edit-inner .edit-table .edit-tr .edit-td {
    padding: 8px !important;
  }
  .userinfo .edit .edit-inner .edit-table .edit-tr .edit-td input {
    padding: 4px !important;
    width: 100% !important;
  }
  .userinfo .edit .edit-inner .edit-table .edit-tr .edit-td input > div {
    margin-left: 10px !important;
  }
}
/*# sourceMappingURL=media-mobile.css.map */