@charset "UTF-8";
@media (max-width: 480px) {
  .container {
    width: 100% !important;
  }
  .row {
    padding: 0 16px;
  }
  .blank-header {
    display: none;
  }
  .banner {
    display: none;
  }
  .side-bar {
    display: none;
  }
  /*-----헤더-----*/
  .header {
    width: 100% !important;
    position: relative;
    -webkit-box-shadow: rgba(27, 29, 31, 0.12) 0px 2px 10px;
            box-shadow: rgba(27, 29, 31, 0.12) 0px 2px 10px;
  }
  .header .header__log {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .header .header__log a {
    padding: 0 !important;
  }
  .header nav {
    display: none;
  }
  .header .m-header__btn {
    display: inline-block !important;
  }
  .header .m-header__btn a {
    display: inline-block;
    padding: 17px 10px;
  }
  .header .m-header__btn a img {
    width: 32px;
    height: 32px;
  }
  .m-sub-header {
    display: block !important;
    background-color: #ffffff;
  }
  .m-sub-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .m-sub-header ul li {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
    float: left;
  }
  .m-sub-header ul li a {
    display: inline-block;
    padding: 16px 16px;
    position: relative;
  }
  .m-sub-header ul li a::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #6332f6;
    position: absolute;
    top: 54px;
    left: 0;
  }
  .main {
    margin-top: 12px !important;
  }
  .vote {
    width: 100% !important;
    float: none;
  }
  .vote__main {
    margin-top: 12px !important;
    padding: 20px 16px !important;
    width: 100% !important;
    /*-----투표 그래프-----*/
    /*-----투표 탭-----*/
  }
  .vote__main h1 {
    font-size: 20px !important;
  }
  .vote__main h3 {
    font-weight: 400;
  }
  .vote__main .btn {
    margin-top: 44px !important;
  }
  .vote__main .btn .yes {
    position: relative;
  }
  .vote__main .btn .yes .m-yes__text {
    width: 100%;
    position: absolute;
    top: -25px;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    display: block !important;
    font-size: 13px;
    color: #9b9b9b;
  }
  .vote__main .btn .no {
    position: relative;
  }
  .vote__main .btn .no .m-no__text {
    width: 100%;
    position: absolute;
    top: -25px;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    display: block !important;
    font-size: 13px;
    color: #9b9b9b;
  }
  .vote__main .graph {
    display: none;
  }
  .vote__main .m-graph {
    display: block !important;
    margin-top: 20px;
  }
  .vote__main .m-graph .box {
    width: 56px;
    height: 56px;
    background-color: #111111;
    color: #ffffff;
    text-align: center;
    line-height: 56px;
    float: left;
    display: block;
  }
  .vote__main .m-graph .wrap {
    width: 83%;
    float: left;
  }
  .vote__main .m-graph .wrap .yes {
    width: 100%;
    height: 24px;
    background-color: #e8e8ed;
  }
  .vote__main .m-graph .wrap .yes span {
    display: block;
    width: 70%;
    height: 24px;
    background-color: #13bde9;
    -webkit-animation: yes 1s 0.7s;
            animation: yes 1s 0.7s;
  }
  .vote__main .m-graph .wrap .no {
    margin-top: 8px;
    width: 100%;
    height: 24px;
    background-color: #e8e8ed;
  }
  .vote__main .m-graph .wrap .no span {
    display: block;
    width: 30%;
    height: 24px;
    background-color: #e55a5a;
    -webkit-animation: no 1s 0.7s;
            animation: no 1s 0.7s;
  }
  .vote__main .vote__tab .vote__tab-left {
    padding: 6px 16px !important;
  }
  .vote__main .vote__tab .vote__tab-left ul li a {
    padding: 6px 16px !important;
    font-size: 14px;
  }
}
/*# sourceMappingURL=media-mobile.css.map */