/* 폰트 */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800");
@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean");
@font-face {
  font-family: "YanoljaYacheR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YanoljaYacheR.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.test {
  font-family: s-core-dream-regular;
}

/* 여백 초기화 */
body,
div,
ul,
li,
dl,
dt,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
fieldset,
legend,
p,
select,
table,
th,
td,
tr,
textarea,
button,
form {
  margin: 0;

  padding: 0;
}

/* a 크 초기화 */

a {
  color: #262626;

  text-decoration: none;
}

/* 폰트 초기화 */

body,
input,
textarea,
select,
button,
table {
  font-family: "Noto Sans KR", "Nanum Gothic", sans-serif;

  font-weight: 400;
  color: #262626;

  font-size: 16px;

  letter-spacing: -0.8px;
  line-height: 1.5;
}

/* 폰트 스타일 초기화 */

em,
address {
  font-style: normal;
}

/* 블릿기호 초기화 */

dl,
ul,
li,
ol,
menu {
  list-style: none;
}

/* 제목 태그 초기화 */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
  letter-spacing: -1.2px;
  color: #111111;

  font-weight: normal;
}

/* 테두리 초기화 */

img,
fieldset {
  border: 0 none;
}

/* 이미지 100퍼 */
img {
  width: 100%;
}
/* 버튼 초기화 */

button {
  border: 0;
  cursor: pointer;
  background-color: #ffffff;
}

/* input박스 클릭시 테두리 없대기 */
input:focus {
  outline: none;
}

/* textarea 초기화 */
textarea {
  /* overflow: auto; */
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}

/* IR 효과 */

.ir_pm {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
} /* 의미있는 이미지의 대체 텍스트를 제공하는 경우 */
.ir_wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
} /* 의미있는 이미지의 대체 텍스트로 이미지가 없어도 대체 텍스트를 보여주고하 할 때 */

.ir_su {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
} /* 대체 텍스트가 아니 접근성을 위한 숨김 텍스트를 제공할 때 */

/* margin, padding */

.mt5 {
  margin-top: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt35 {
  margin-top: 35px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mt45 {
  margin-top: 45px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mt60 {
  margin-top: 60px !important;
}

/* 블랭크 */
.blank5 {
  clear: both;
  height: 5px;
}
.blank10 {
  clear: both;
  height: 10px;
}
.blank15 {
  clear: both;
  height: 15px;
}
.blank20 {
  clear: both;
  height: 20px;
}
.blank25 {
  clear: both;
  height: 25px;
}
.blank30 {
  clear: both;
  height: 30px;
}
.blank35 {
  clear: both;
  height: 35px;
}
.blank40 {
  clear: both;
  height: 40px;
}
.blank45 {
  clear: both;
  height: 45px;
}
.blank50 {
  clear: both;
  height: 50px;
}
.blank55 {
  clear: both;
  height: 55px;
}
.blank60 {
  clear: both;
  height: 60px;
}
.blank65 {
  clear: both;
  height: 65px;
}
.blank70 {
  clear: both;
  height: 70px;
}
.blank75 {
  clear: both;
  height: 75px;
}
.blank80 {
  clear: both;
  height: 80px;
}
.blank85 {
  clear: both;
  height: 85px;
}
.blank90 {
  clear: both;
  height: 90px;
}
.blank95 {
  clear: both;
  height: 95px;
}
.blank100 {
  clear: both;
  height: 100px;
}
/* --모바일 블랭크-- */
.m_blank5 {
  clear: both;
  height: 5px;
  display: none;
}
.m_blank10 {
  clear: both;
  height: 10px;
  display: none;
}
.m_blank15 {
  clear: both;
  height: 15px;
  display: none;
}
.m_blank20 {
  clear: both;
  height: 20px;
  display: none;
}
.m_blank25 {
  clear: both;
  height: 25px;
  display: none;
}
.m_blank30 {
  clear: both;
  height: 30px;
  display: none;
}
.m_blank35 {
  clear: both;
  height: 35px;
  display: none;
}
.m_blank40 {
  clear: both;
  height: 40px;
  display: none;
}
.m_blank45 {
  clear: both;
  height: 45px;
  display: none;
}
.m_blank50 {
  clear: both;
  height: 50px;
  display: none;
}

/* --블랭크취소용-- */
/* .blank5 {
  clear: both;
  height: 5px;
  display: none;
}
.blank10 {
  clear: both;
  height: 10px;
  display: none;
}
.blank15 {
  clear: both;
  height: 15px;
  display: none;
}
.blank20 {
  clear: both;
  height: 20px;
  display: none;
}
.blank25 {
  clear: both;
  height: 25px;
  display: none;
}
.blank30 {
  clear: both;
  height: 30px;
  display: none;
}
.blank35 {
  clear: both;
  height: 35px;
  display: none;
}
.blank40 {
  clear: both;
  height: 40px;
  display: none;
}
.blank45 {
  clear: both;
  height: 45px;
  display: none;
}
.blank50 {
  clear: both;
  height: 50px;
  display: none;
}
.blank55 {
  clear: both;
  height: 55px;
  display: none;
}
.blank60 {
  clear: both;
  height: 60px;
  display: none;
}
.blank65 {
  clear: both;
  height: 65px;
  display: none;
}
.blank70 {
  clear: both;
  height: 70px;
  display: none;
}
.blank75 {
  clear: both;
  height: 75px;
  display: none;
}
.blank80 {
  clear: both;
  height: 80px;
}
.blank85 {
  clear: both;
  height: 85px;
  display: none;
}
.blank90 {
  clear: both;
  height: 90px;
  display: none;
}
.blank95 {
  clear: both;
  height: 95px;
  display: none;
}
.blank100 {
  clear: both;
  height: 100px;
  display: none;
} */

.blank5 {
  clear: both;
  height: 5px;
}
.blank10 {
  clear: both;
  height: 10px;
}
.blank15 {
  clear: both;
  height: 15px;
}
.blank20 {
  clear: both;
  height: 20px;
}
.blank25 {
  clear: both;
  height: 25px;
}
.blank30 {
  clear: both;
  height: 30px;
}
.blank35 {
  clear: both;
  height: 35px;
}
.blank40 {
  clear: both;
  height: 40px;
}
.blank45 {
  clear: both;
  height: 45px;
}
.blank50 {
  clear: both;
  height: 50px;
}
.blank55 {
  clear: both;
  height: 55px;
}
.blank60 {
  clear: both;
  height: 60px;
}
.blank65 {
  clear: both;
  height: 65px;
}
.blank70 {
  clear: both;
  height: 70px;
}
.blank75 {
  clear: both;
  height: 75px;
}
.blank80 {
  clear: both;
  height: 80px;
}
.blank85 {
  clear: both;
  height: 85px;
}
.blank90 {
  clear: both;
  height: 90px;
}
.blank95 {
  clear: both;
  height: 95px;
}
.blank100 {
  clear: both;
  height: 100px;
}
/* --모바일 블랭크 block-- */
/* .m_blank5 {
  clear: both;
  height: 5px;
}
.m_blank10 {
  clear: both;
  height: 10px;
}
.m_blank15 {
  clear: both;
  height: 15px;
}
.m_blank20 {
  clear: both;
  height: 20px;
}
.m_blank25 {
  clear: both;
  height: 25px;
}
.m_blank30 {
  clear: both;
  height: 30px;
}
.m_blank35 {
  clear: both;
  height: 35px;
}
.m_blank40 {
  clear: both;
  height: 40px;
}
.m_blank45 {
  clear: both;
  height: 45px;
}
.m_blank50 {
  clear: both;
  height: 50px;
} */

/* --버튼초기화-- */
button {
  border: 0;
  outline: 0;
}

​

​

/* 클리어픽스 */

.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: block;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

/* 드레그방지 */
/* div {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
} */

/* 박스사이징 */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* rem */
/* html {
  font-size: 16px;
}

body {
  font-size: 1rem;
} */
