@charset "UTF-8";
.banner .banner__col1 {
  background-color: #ffffff;
}

.banner .banner__col2 {
  background-color: #6332f6;
}

.side-bar .side-bar__nav ul li a, .footer .wrap .footer__left .meta-data div {
  color: #9b9b9b;
}

.side-bar .side-bar__nav {
  border: 1px solid #e8e8ed;
  background-color: #ffffff;
}

/*-----광고영역-----*/
.m_aside-320x100 {
  display: none;
}

/*-----레이아웃-----*/
body {
  background-color: #f2f2f2;
}

.container {
  width: 1060px;
  margin: 0 auto;
  position: relative;
  /*---광고배너__컨테이너---*/
}

.container .aside-160x600__right {
  position: absolute;
  top: 0;
  right: -176px;
}

.container .aside-160x600__right img {
  width: 160px;
  height: 600px;
}

main {
  margin-top: 16px;
}

.bgblack-layerpopup {
  display: none;
  z-index: 50;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.share-layerpopup {
  display: none;
  z-index: 100 !important;
  width: 500px;
  height: 250px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.share-layerpopup .share-layerpopup__inner {
  background-color: #ffffff;
  padding: 40px;
}

.share-layerpopup .share-layerpopup__inner h1 {
  font-size: 25px;
  text-align: center;
}

.share-layerpopup .share-layerpopup__inner h1 button {
  padding: 10px;
  float: right;
}

.share-layerpopup .share-layerpopup__inner h1 button img {
  width: 20px;
}

.share-layerpopup .share-layerpopup__inner .btn__inner {
  margin-top: 40px;
}

.share-layerpopup .share-layerpopup__inner .btn__inner button img {
  width: 56px;
}

.m-nav-draw {
  display: none;
}

/*----- active -----*/
.sidebar__fixed {
  position: fixed;
  top: 16px;
}

.font__active__purple_400 {
  color: #6332f6 !important;
}

.font__active__purple {
  color: #6332f6 !important;
  font-weight: 500;
}

.font__active__sky {
  color: #13bde9 !important;
}

.font__active__red {
  color: #fe6181 !important;
}

.underline__active__purple {
  border-bottom: 3px solid #6332f6;
}

.div__actvie__thinsky {
  background-color: #f6f9ff !important;
}

.div__acvtive__red {
  background-color: #fe6181 !important;
}

.div__flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.div__none {
  display: none !important;
}

/*-------경고메세지---------*/
.alert-text {
  font-size: 14px;
  color: red;
  margin-top: 8px;
}

/*-----헤더-----*/
.blank-header {
  height: 30px;
  background-color: #f2f2f2;
}

.header {
  background-color: #ffffff;
  height: 70px;
}

.header .header__log {
  float: left;
}

.header .header__log a {
  padding: 13px 32px 13px 0;
  font-size: 30px;
  color: #6332f6;
  display: inline-block;
}

.header .header__log a img {
  width: 130px;
  height: auto;
}

.header .header__nav {
  float: right;
}

.header .header__nav ul li {
  float: left;
}

.header .header__nav ul li a {
  display: inline-block;
  padding: 23px 0 23px 32px;
}

.header .header__nav ul li a:hover {
  color: #6332f6;
  font-weight: 500;
}

/*-----배너-----*/
.banner {
  position: relative;
}

.banner .banner__col1 {
  height: 230px;
}

.banner .banner__col2 {
  height: 70px;
}

.banner img {
  position: absolute;
  top: 53%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: auto;
  height: 200px;
}

/*----- 사이드바 -----*/
.side-bar {
  width: 300px;
  float: left;
  /*---광고배너__컨테이너---*/
}

.side-bar .side-bar__nav {
  padding: 8px 24px;
}

.side-bar .side-bar__nav ul li a {
  display: inline-block;
  padding: 8px 20px 8px 20px;
}

.side-bar .side-bar__nav ul li a:hover {
  color: #6332f6;
  font-weight: 500;
}

.side-bar .aside-300x250__left {
  margin-top: 16px;
  text-align: center;
}

.side-bar .aside-300x250__left img {
  width: 300px;
  height: 250px;
}

/*-----광고배너----*/
.aside-728x90 {
  margin-top: 8px;
}

.aside-728x90 img {
  display: block;
}

/*-----푸터-----*/
.footer {
  background-color: #1b1d1f;
  margin-top: 32px;
  width: 100%;
}

.footer .wrap {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .wrap .footer__left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer .wrap .footer__left ul.menu li {
  float: left;
  margin-right: 12px;
}

.footer .wrap .footer__left ul.menu li a {
  color: #ffffff;
}

.footer .wrap .footer__left .meta-data {
  color: #ffffff;
}

.footer .wrap .footer__left .meta-data div {
  font-size: 14px;
}

.footer .wrap .footer__right {
  margin-top: 60px;
}

.footer .wrap .footer__right ul li {
  float: left;
}

.footer .wrap .footer__right ul li a {
  margin-left: 20px;
}

.footer .wrap .footer__right ul li a img {
  width: 40px;
}

.footer.bottom {
  position: absolute;
  bottom: 0;
}

/*--이거 추가해주셈 (데이터 완전히 렌더링되기전에 깜빡거리면서 코드 보이는거 안보이게해줌)
--*/
[v-cloak]::before {
  content: "로딩중...";
}

[v-cloak] > * {
  display: none;
}
/*# sourceMappingURL=style.css.map */