@charset "UTF-8";
.vote__main .graph ul li.box {
  background-color: #111111;
}

.vote__main .graph ul li.yes > div, .vote__main .graph ul li.no > div, .vote__main .btn ul li.yes, .vote__main .btn ul li.yes button, .vote__main .btn ul li.no button {
  background-color: #e8e8e8;
}

.vote__tab.tab .tab-left ul li a, .vote__main .btn-share button span, .vote__feed .article-feed__main .cont-right .btn ul li button span, .vote__feed .article-feed__main .cont-right .btn ul li button em, .vote__feed .article-feed__commnet-inner .article-feed__commnet-item .cont-right .btn ul li button, .vote__feed .article-feed__commnet-write input::-webkit-input-placeholder, .vote-layerpopup textarea::-webkit-input-placeholder {
  color: #9b9b9b;
}

.vote__tab.tab .tab-left ul li a, .vote__main .btn-share button span, .vote__feed .article-feed__main .cont-right .btn ul li button span, .vote__feed .article-feed__main .cont-right .btn ul li button em, .vote__feed .article-feed__commnet-inner .article-feed__commnet-item .cont-right .btn ul li button, .vote__feed .article-feed__commnet-write input:-ms-input-placeholder, .vote-layerpopup textarea:-ms-input-placeholder {
  color: #9b9b9b;
}

.vote__tab.tab .tab-left ul li a, .vote__main .btn-share button span, .vote__feed .article-feed__main .cont-right .btn ul li button span, .vote__feed .article-feed__main .cont-right .btn ul li button em, .vote__feed .article-feed__commnet-inner .article-feed__commnet-item .cont-right .btn ul li button, .vote__feed .article-feed__commnet-write input::-ms-input-placeholder, .vote-layerpopup textarea::-ms-input-placeholder {
  color: #9b9b9b;
}

.vote__tab.tab .tab-left ul li a, .vote__main .btn-share button span, .vote__feed .article-feed__main .cont-right .btn ul li button span, .vote__feed .article-feed__main .cont-right .btn ul li button em, .vote__feed .article-feed__commnet-inner .article-feed__commnet-item .cont-right .btn ul li button, .vote__feed .article-feed__commnet-write input::placeholder, .vote-layerpopup textarea::placeholder {
  color: #9b9b9b;
}

.vote__main .graph ul li.box, .vote__main .btn ul li.yes button span, .vote__main .btn ul li.no button span {
  color: #ffffff;
}

.vote__tab.tab .tab-left, .vote__main, .vote__feed .article-feed__item, .vote-past-article__list article {
  border: 1px solid #e8e8ed;
  background-color: #ffffff;
}

.vote__main .btn ul li.yes button, .vote__main .btn ul li.no button {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.vote {
  float: right;
  width: 744px;
}

.vote__tab.tab .tab-left {
  padding: 10px 16px;
  float: left;
}

.vote__tab.tab .tab-left ul li {
  float: left;
}

.vote__tab.tab .tab-left ul li a {
  display: inline-block;
  padding: 8px 16px;
}

.vote__tab.tab .tab-left ul li a img {
  width: 20px;
  height: 20px;
  margin-right: 4px;
  vertical-align: middle;
}

.vote__tab.tab .tab-left ul li a span {
  vertical-align: middle;
}

.vote__main {
  margin-top: 16px;
  padding: 40px 20px;
}

.vote__main h1 {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}

.vote__main h3 {
  margin-top: 8px;
  text-align: center;
  font-weight: 400;
}

.vote__main .graph {
  margin-top: 32px;
}

.vote__main .graph ul li {
  float: left;
}

.vote__main .graph ul li.yes {
  width: 44.5%;
  height: 30px;
  margin-top: 23px;
  position: relative;
}

.vote__main .graph ul li.yes > div {
  width: 100%;
  height: 30px;
}

.vote__main .graph ul li.yes > div > span {
  display: block;
  width: 70%;
  height: 30px;
  background-color: #13bde9;
  -webkit-animation: yes 1s 0.7s;
          animation: yes 1s 0.7s;
  float: right;
}

.vote__main .graph ul li.yes > h2 {
  position: absolute;
  top: -30px;
}

.vote__main .graph ul li.box {
  width: 11%;
  font-size: 20px;
  position: relative;
}

.vote__main .graph ul li.box::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.vote__main .graph ul li.box > div {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.vote__main .graph ul li.no {
  width: 44.5%;
  height: 30px;
  margin-top: 23px;
  position: relative;
}

.vote__main .graph ul li.no > div {
  width: 100%;
  height: 30px;
}

.vote__main .graph ul li.no > div > span {
  display: block;
  width: 30%;
  height: 30px;
  background-color: #fe6181;
  -webkit-animation: no 1s 0.7s;
          animation: no 1s 0.7s;
}

.vote__main .graph ul li.no > h2 {
  position: absolute;
  top: -30px;
  right: 0;
}

.vote__main .btn {
  margin-top: 32px;
  text-align: center;
}

.vote__main .btn ul {
  text-align: center !important;
  display: inline-block;
}

.vote__main .btn ul li {
  float: left;
  margin-right: 16px;
}

.vote__main .btn ul li.yes button {
  padding: 10px 32px;
  display: inline-block;
}

.vote__main .btn ul li.yes button img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 8px;
  margin-top: 0px;
}

.vote__main .btn ul li.yes button span {
  vertical-align: middle;
}

.vote__main .btn ul li.yes button:hover {
  background-color: #13bde9;
}

.vote__main .btn ul li.no button {
  padding: 10px 32px;
  display: inline-block;
  color: #6332f6;
}

.vote__main .btn ul li.no button img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 8px;
  margin-top: -3px;
}

.vote__main .btn ul li.no button span {
  vertical-align: middle;
}

.vote__main .btn ul li.no button:hover {
  background-color: #fe6181;
}

.vote__main .btn ul li.no a img {
  margin-top: 0px;
}

.vote__main .btn-share {
  margin-top: 24px;
  overflow: hidden;
}

.vote__main .btn-share button {
  float: right;
}

.vote__main .btn-share button img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.vote__main .btn-share button span {
  font-size: 14px;
  vertical-align: middle;
}

@-webkit-keyframes yes {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}

@keyframes yes {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}

@-webkit-keyframes no {
  0% {
    width: 0;
  }
  100% {
    width: 30%;
  }
}

@keyframes no {
  0% {
    width: 0;
  }
  100% {
    width: 30%;
  }
}

.vote__feed {
  margin-top: 16px;
  margin-bottom: 8px;
}

/*------테스트영역-----*/
.vote__feed .article-feed__item {
  background-color: #ffffff;
}

/*-----테스트영역 메인------*/
.vote__feed .article-feed__main {
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e8e8ed;
}

.vote__feed .article-feed__main .cont-left img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}

.vote__feed .article-feed__main .cont-left div {
  text-align: center;
  font-size: 14px;
}

.vote__feed .article-feed__main .cont-right {
  margin-left: 8px;
}

.vote__feed .article-feed__main .cont-right .user-nickname span {
  vertical-align: middle;
  font-size: 14px;
  font-weight: 500;
}

.vote__feed .article-feed__main .cont-right .user-nickname img {
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.vote__feed .article-feed__main .cont-right .user-cont {
  margin-top: 4px;
  font-size: 14px;
}

.vote__feed .article-feed__main .cont-right .btn {
  margin-top: 8px;
}

.vote__feed .article-feed__main .cont-right .btn ul li {
  float: left;
  margin-right: 16px;
}

.vote__feed .article-feed__main .cont-right .btn ul li button img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 4px;
}

.vote__feed .article-feed__main .cont-right .btn ul li button span {
  font-size: 13px;
  vertical-align: middle;
}

.vote__feed .article-feed__main .cont-right .btn ul li button em {
  font-size: 13px;
  vertical-align: middle;
}

/*-----테스트영역  댓글-------*/
.vote__feed .article-feed__commnet-inner .article-feed__commnet-item {
  padding: 12px 12px 12px 64px;
  border-bottom: 1px solid #e8e8ed;
  background-color: #f8f9fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vote__feed .article-feed__commnet-inner .article-feed__commnet-item .cont-left {
  margin-right: 8px;
}

.vote__feed .article-feed__commnet-inner .article-feed__commnet-item .cont-left .user-profile img {
  width: 32px;
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
  vertical-align: middle;
  margin-right: 4px;
}

.vote__feed .article-feed__commnet-inner .article-feed__commnet-item .cont-right {
  margin-top: 4px;
}

.vote__feed .article-feed__commnet-inner .article-feed__commnet-item .cont-right .user-nickname {
  font-size: 13px;
  font-weight: 500;
}

.vote__feed .article-feed__commnet-inner .article-feed__commnet-item .cont-right p {
  font-size: 13px;
}

.vote__feed .article-feed__commnet-inner .article-feed__commnet-item .cont-right .btn {
  margin-top: 8px;
}

.vote__feed .article-feed__commnet-inner .article-feed__commnet-item .cont-right .btn ul li button {
  font-size: 13px;
  background-color: #f8f9fa;
}

/*-----테스영역 댓글쓰기-----*/
.vote__feed .article-feed__commnet-write {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vote__feed .article-feed__commnet-write input {
  padding: 16px 0px 12px 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 0;
}

.vote__feed .article-feed__commnet-write button {
  width: 100px;
  height: 56px;
  color: #6332f6;
}

/*-----투표 레이어팝업-----*/
.vote-layerpopup {
  display: none;
  padding: 40px;
  z-index: 100;
  position: fixed;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.vote-layerpopup h1 {
  font-size: 25px;
  font-weight: 300;
  text-align: center;
  position: relative;
}

.vote-layerpopup h1 em {
  font-weight: 500;
  color: #6332f6;
}

.vote-layerpopup h1 a {
  display: inline-block;
  padding: 10px;
  background: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7") 0 0 repeat;
  position: absolute;
  top: -30px;
  right: -20px;
}

.vote-layerpopup h1 a img {
  width: 20px;
  height: 20px;
}

.vote-layerpopup textarea {
  margin-top: 20px;
  width: 356px;
  height: 160px;
  border: 1px solid #e8e8ed;
  padding: 8px;
}

.vote-layerpopup textarea::-webkit-input-placeholder {
  font-size: 14px;
}

.vote-layerpopup textarea:-ms-input-placeholder {
  font-size: 14px;
}

.vote-layerpopup textarea::-ms-input-placeholder {
  font-size: 14px;
}

.vote-layerpopup textarea::placeholder {
  font-size: 14px;
}

.vote-layerpopup button {
  margin-top: 32px !important;
  display: block;
  margin: 0 auto;
}

.vote-layerpopup button div {
  background-color: #ffffff;
  border: 1px solid #6332f6;
  color: #6332f6;
  width: 120px;
  line-height: 56px;
  cursor: pointer;
  text-align: center;
}

/*------지난 찬반 투표-----*/
.vote-past-article__list {
  margin-top: 16px;
}

.vote-past-article__list article:nth-child(1) {
  margin-top: 0;
}

.vote-past-article__list article {
  margin-top: 4px;
}

.vote-past-article__list article:hover {
  background-color: #6332f6;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.vote-past-article__list article:hover a h1 {
  color: white;
}

.vote-past-article__list article a {
  display: inline-block;
  padding: 16px;
  width: 100%;
  position: relative;
}

.vote-past-article__list article a h1 {
  font-size: 20px;
  font-weight: 300;
}

.vote-past-article__list article a img {
  width: 24px;
  position: absolute;
  top: 20px;
  right: 16px;
}

.vote-past .vote-past-article__add {
  margin-top: 6px;
  text-align: center;
  background-color: #ffffff;
  width: 100%;
}

.vote-past .vote-past-article__add button {
  color: #9b9b9b;
  display: inline-block;
  padding: 16px;
  width: 100%;
  cursor: pointer;
}
/*# sourceMappingURL=vote.css.map */