@import "partial/styles";
@media (max-width: 480px) {
  html,
  body {
    height: 100%;
    position: relative;
  }

  .container {
    width: 100% !important;
  }

  .row {
    padding: 0 16px;
  }
  .blank-header {
    display: none;
  }

  .banner {
    display: none;
  }

  .side-bar {
    display: none;
  }

  .top-btn {
    display: none;
  }

  .notice__ip-ban {
    width: 100% !important;
    a {
      font-size: 15px !important;
      img {
        width: 16px !important;
        right: 20px !important;
      }
    }
  }

  .notice__ip-ban__board {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
  }

  .m-top-btn {
    display: block;
    position: fixed;
    right: 16px;
    bottom: 50px;
    display: none;
    z-index: 10;
    background-color: #3f3fff;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    text-align: center;
    line-height: 60px;
    color: #ffffff;
    box-shadow: 3px 3px 8px 2px #9b9b9b;
  }

  /*----------광고영역------------*/
  .aside-160x600__right {
    display: none;
  }

  .aside-728x90 {
    display: none !important;
  }

  .aside-300x250__left {
    display: none;
  }

  .m_aside-320x100 {
    margin-top: 8px;
    display: block !important;
    img {
      display: block;
    }
  }

  .aside-300x250__right {
    display: none !important;
  }

  /*----------푸터------------*/
  .footer {
  }
  .share-layerpopup {
    width: 100% !important;
    .share-layerpopup__inner {
      padding: 20px !important;
      h1 {
        font-size: 20px !important;
        button {
          padding: 8px !important;
          img {
            width: 16px !important;
          }
        }
      }
    }
  }

  /*-------------네비게이션드로어-----------------*/
  .m-nav-draw {
    display: block !important;
    position: fixed;
    width: 80%;
    height: 100%;
    background-color: #ffffff;
    z-index: 100;
    top: 0;
    left: -100%;
    .m-nav-draw__inner {
      // padding: 40px 16px;
      .btn {
        padding: 16px 16px;
        button {
          width: 100%;
          padding: 16px 16px;
          display: inline-block;
          background-color: $purple;
          color: #ffffff;
          text-align: center;
          border-radius: 3px;
          font-weight: 500;
        }
      }

      .notice {
        text-align: center;
        padding: 8px;
        color: red;
        font-size: 14px !important;
      }

      .m-nav-draw__nav {
        border-top: 1px solid #e8e8ed;
        div {
          padding: 8px 24px;
          color: #9b9b9b;
          font-size: 14px;
          border-bottom: 1px solid #e8e8ed;
          ul {
            li {
              a {
                vertical-align: middle;
                display: inline-block;
                padding: 8px 16px;
                font-size: 14px;
                span {
                  img {
                    width: 16px;
                    vertical-align: middle;
                    margin-left: 4px;
                    margin-top: -3px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  /*--------------헤더--------------*/
  .header {
    width: 100% !important;
    height: 56px !important;
    position: relative;
    box-shadow: rgba(27, 29, 31, 0.12) 0px 2px 10px;

    .header__log {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      a {
        padding: 0 !important;
        img {
          width: 100px !important;
          height: auto;
        }
      }
    }

    nav {
      display: none;
    }

    .m-header__btn {
      display: inline-block !important;
      // padding: 20px 16px 10px 16px;
      padding: 19px 10px 10px 10px;

      button {
        display: inline-block;
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  /*----------모바일 서브헤더-------------*/
  .m-sub-header {
    display: block !important;
    background-color: $white;

    ul {
      display: flex;

      li {
        flex: 1;
        text-align: center;
        float: left;
        a {
          display: inline-block;
          padding: 12px 16px;
          position: relative;
          font-size: 14px;
        }
      }
    }
  }

  /*---------레이어팝업------------*/
  .vote-layerpopup {
    width: 90%;
    padding: 16px !important;
    padding: 20px;
    textarea {
      width: 100% !important;
    }
    h1 {
      a {
        top: -20px !important;
        right: -10px !important;
        img {
          width: 16px !important;
        }
      }
    }
  }

  .main {
    margin-top: 12px !important;
  }

  /*------------인덱스-------------*/

  // .banner-index {
  //   .banner__col1 {
  //     height: 80px !important;
  //   }
  //   .banner__col2 {
  //     height: 100px !important;
  //     img {
  //       top: 0 !important;
  //     }

  //     .text {
  //       width: 100%;
  //       top: -40px !important;
  //       span.tit-sub {
  //       }
  //       span.tit {
  //         display: none;
  //       }
  //     }
  //   }
  // }
  .index {
    width: 100% !important;
  }

  .banner-index {
    display: none;
  }

  /*---핫딜있슈---*/

  .hot-deal__serch--index {
    .inner {
      padding: 20px 10px !important;
      .tit--index {
        font-size: 20px !important;
        margin-bottom: 10px !important;
      }
    }
  }

  .hot-deal__itemlist.hot-deal__itemlist--index {
    .inner--index {
      ul {
        white-space: nowrap;
        overflow-x: auto;
        li {
          display: inline-block;
          float: none !important;
          width: 40% !important;
          margin-right: 0 !important;
          a {
            img {
            }
          }
        }
      }
    }
  }

  /*---돈이되는정보----*/
  .tip--index {
    // padding: 24px 16px !important;
    .tip__inner--index {
      padding: 24px 16px 16px 16px !important;
      .tit--index {
        font-size: 20px !important;
        text-align: left !important;
        margin-bottom: 16px !important;
        span {
          a {
            font-size: 14px !important;
            margin-right: 5px;
            margin-top: 7px !important;
          }
        }
      }

      ul {
        margin-top: 0px !important;
        li:nth-last-type(4) {
          display: none !important;
          .desc {
            .tit {
              color: red !important;
            }
          }
        }
      }
    }
  }

  /*-----투표 인덱스-----*/
  .vote--index {
    padding: 24px 16px !important;
    .inner--index {
      .tit--index {
        font-size: 20px !important;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

        height: 60px;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
      }
      .btn--index {
        width: 100% !important;
        // height: 42px !important;
        // font-size: 14px !important;
      }
    }
  }

  /*----실시간 커뮤니티 인덱스---*/
  .live-community--index {
    width: 100% !important;
    .tit {
      .addtext {
        a {
          margin-top: 7px !important;
        }
      }
    }
  }
  /*----실시간 커뮤니티 ---*/
  .live-community {
    width: 100% !important;
    float: none !important;
    .tit {
      .addtext {
        a {
          margin-top: 7px !important;
        }
      }
    }
  }

  /*-----------투표-------------*/
  .vote {
    width: 100% !important;
    float: none;
    margin-top: -8px !important;
  }

  .vote__main {
    margin-top: 8px !important;
    padding: 20px 16px !important;
    width: 100% !important;
    // display: none;

    /*-----투표 그래프-----*/
    h1 {
      font-size: 20px !important;
    }

    h3 {
      font-weight: 400;
    }

    .btn {
      margin-top: 44px !important;
      margin-bottom: 16px !important;
      .yes {
        position: relative;
        .m-yes__text {
          width: 100%;
          position: absolute;
          top: -25px;
          left: 50%;
          transform: translate(-50%);
          display: block !important;
          font-size: 13px;
          color: #9b9b9b;
        }
      }
      .no {
        position: relative;
        .m-no__text {
          width: 100%;
          position: absolute;
          top: -25px;
          left: 50%;
          transform: translate(-50%);
          display: block !important;
          font-size: 13px;
          color: #9b9b9b;
        }
      }
    }

    .graph {
      display: none;
    }

    .m-graph {
      display: block !important;
      margin-top: 20px;
      .box {
        width: 14%;
        height: 56px;
        background-color: #111111;
        color: $white;
        text-align: center;
        line-height: 56px;
        float: left;
        display: block;
        font-size: 13px;
      }

      .wrap {
        width: 83%;
        float: left;
        .yes {
          // float: left;
          width: 100%;
          height: 24px;
          background-color: #e8e8ed;
          span {
            display: block;
            width: 0%;
            height: 24px;
            background-color: $sky;
            // animation: yes 1s 0.7s;
          }
        }
        .no {
          margin-top: 8px;
          // float: left;
          width: 100%;
          height: 24px;
          background-color: #e8e8ed;
          span {
            display: block;
            width: 0%;
            height: 24px;
            background-color: $red;
            // animation: no 1s 0.7s;
          }
        }
      }
    }
  }
  /*-----투표 탭-----*/

  .vote__tab.tab {
    .vote__tab-left {
      padding: 6px 16px !important;
      ul {
        li {
          a {
            padding: 6px 16px !important;
            font-size: 14px !important;
          }
        }
      }
    }
  }

  /*---댓글inner 패딩----*/
  .vote__feed .article-feed__commnet-item {
    padding-left: 16px !important;
  }

  /*---댓글쓰기(오피니언)---*/
  .vote__feed .article-feed__commnet-write {
    input {
      font-size: 14px !important;
    }
    button {
      font-size: 14px;
      width: 70px !important;
      padding-right: 16px;
    }
  }

  /*----지난투표----*/
  .vote-past-article__list {
    article {
      a {
        h1 {
          display: inline-block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
          font-size: 16px !important;
        }
      }
    }
  }

  //*-----------------핫딜있슈---------------*

  .hot-deal__serch {
    width: 100% !important;

    input {
      &::placeholder {
        font-size: 14px !important;
      }
    }
    .autocomplete {
      width: 90% !important;
      .inner {
        padding: 8px !important;
      }
    }
  }

  .hot-deal__serch .inner .box .autocomplete {
  }

  .hot-deal {
    float: none !important;
    width: 100% !important;
  }

  .hot-deal__serch {
    .inner {
      padding: 20px 10px !important;
      .tit--index {
        font-size: 20px !important;
        margin-bottom: 10px !important;
      }
    }
  }

  .hot-deal__itemlist {
    .inner {
      ul {
        margin-top: 8px;
        li {
          margin-bottom: 8px !important;
          // float:;
          width: 48% !important;
          margin-right: 2% !important;
          a {
            img {
            }
          }
        }

        li:nth-of-type(2n) {
          margin-right: 0 !important;
        }
      }
    }
  }
  /*---------------게시판----------------*/

  .board {
    float: none;
    width: 100% !important;
    margin-top: -8px;
  }

  /*-----게시판탭------*/
  .board__tab.tab {
    .tab-left {
      padding: 6px 16px !important;
      ul {
        li {
          a {
            padding: 6px 16px !important;
            font-size: 14px !important;
          }
        }
      }
    }
    .tab-right {
      padding: 6px 16px !important;

      ul {
        li {
          a {
            padding-right: 0px !important;
            padding-left: 0px !important;
            padding: 6px 16px !important;
            font-size: 14px !important;
          }
        }
      }
    }
  }

  /*-----게시판 디테일뷰-----*/
  .m_main {
    margin-top: 0 !important;
  }

  /*--디테일뷰헤더--*/

  .view-article__header {
    .tit {
      font-size: 25px;
      display: block !important;
      span.m__span__none {
        // float: none !important;
        display: none;
      }
    }
    .view-article__sub-header {
      position: relative;
      display: block !important;
      margin-top: 16px !important;
      .profile {
        .m__span__time {
          position: absolute;
          display: block !important;
          top: 3px;
          right: 16px;
          font-size: 14px;
        }
      }
      .meta-data {
        margin-top: 4px;
        span {
          margin-right: 4px;
        }
      }
    }
  }

  /*----디테일뷰 컨텐츠 삭제, 수정----*/
  .view-article__cont .cont-edit {
    margin-bottom: 8px !important;
    button {
      font-size: 13px !important;
    }

    .del {
    }
  }

  /*--디테일뷰 버튼--*/
  .board-detailview .view-btn {
    ul {
      li {
        a {
          img {
            margin-top: 2px;
          }
        }
      }
    }
  }

  /*-----게시판 -----*/
  .board-write {
    input {
      margin-bottom: 8px !important;
    }
  }

  /*--댓글 input--*/
  .commnet-reply-write {
    padding-left: 16px !important;
    div {
      input {
        font-size: 14px !important;
      }
      button {
        font-size: 14px !important;
        width: 70px !important;
        padding-right: 16px !important;
      }
    }
  }

  /*--대댓글 패딩값--*/
  .board-detailview
    .comment-list
    .commnet-list__normal
    .reply
    .wrap
    .cont-left {
    padding-left: 16px !important;
  }

  /*-------------푸터----------------*/
  .footer {
    margin-top: 8px !important;
    .wrap {
      padding: 16px !important;
      display: block !important;
      .footer__left {
        text-align: center;
        ul {
          display: inline-block;
        }
      }
      .footer__right {
        margin-top: 30px !important;
        text-align: center;
        ul {
          display: inline-block;
          li {
            // text-align: center;
            a {
              margin-left: 0 !important;
              margin-right: 20px;
            }
          }
        }
      }
    }
  }

  /*---페이지네이지션--*/
  .pagination {
    .wrap {
      display: flex;
      justify-content: space-between !important;
      .btn {
        a {
          padding: 16px 3px !important;

          img {
          }
        }
      }
      .num {
        span {
          a {
            padding: 16px 7px !important;
          }
        }
      }
    }
  }

  /*------------돈이되는정보-------------*/
  .tip {
    float: none;
    width: 100% !important;
    margin-top: -8px;
  }
  .tip__inner {
    // padding: 8px 16px 16px 16px !important;
    padding: 16px 16px !important;
    ul {
      margin-top: 28px !important;
      li {
        float: left !important;
        width: 46% !important;
        margin-right: 5% !important;
        a {
          .img {
            img {
              display: block !important;
            }
          }
          .desc {
            font-size: 14px;

            .tit {
              height: 40px !important;
            }
            .author {
              font-size: 13px !important;
            }
          }
        }
      }

      li:nth-of-type(2n + 0) {
        margin-right: 0 !important;
      }
    }
  }

  /*----------------건의하기------------------*/
  .user-feedback__textarea {
    width: 100% !important;
    textarea {
      width: 100% !important;
      height: 330px !important;
    }
    .btn {
      margin-bottom: 15px !important;
    }
  }

  /*--------------회원가입 / 로그인-------------*/
  /*--전체--*/
  .sgin-up {
    width: 100% !important;
    height: 100% !important;
    padding: 0 !important;
    .sgin-up__inner {
      box-shadow: none;
      width: 100% !important;
      height: 100% !important;
      padding: 40px 20px !important;
      position: relative;
    }
  }

  /*--버튼--*/
  .btn2 {
    ul {
      width: 100% !important;
      li {
        // width: 150px !important;
        // height: 56px !important;
        // margin-right: 1% !important;
        width: 48.5%;
        margin-right: 1%;
        button {
          padding: 0 !important;
          width: 40% !important;
          height: 56px;
        }
      }

      li.next {
        background-color: $purple !important;
        margin-right: 0% !important;
      }
    }
  }

  /*--캔슬버튼--*/
  .m__cancel {
    display: block !important;
    position: absolute;
    right: 20px;
    top: 24px;
    button {
      img {
        width: 20px;
      }
    }
  }

  /*-------------내정보----------------*/

  // -----전체----
  .userinfo {
    padding: 16px !important;
  }

  // -----버튼-----
  .userinfo {
    .btn {
      // button {
      //   padding: 12px 60px !important;
      // }
      ul {
        li {
          button {
            padding: 12px 60px !important;
          }
        }
      }
    }
  }

  // -------서브헤더-----
  .sub-header {
    .sub-header__nav {
      ul::-webkit-scrollbar {
        display: none;
      }

      ul {
        overflow-x: auto;
        white-space: nowrap;

        li {
          display: inline-block;
          float: none;
          margin-right: 0;
          a {
            padding: 16px 16px;
          }
        }
      }
    }
  }

  .sub-header__nav::-webkit-scrollbar {
    display: none !important;
  }
  //----------
  .userinfo {
    .edit {
      .edit-inner {
        .edit-table {
          .edit-tr {
            .edit-th {
              // font-size: 16px;
              width: 120px !important;
              padding: 8px !important;
            }
            .edit-td {
              // font-size: 14px;
              // padding-left: 0 !important;
              padding: 8px !important;
              input {
                padding: 4px !important;
                width: 100% !important;
                &::placeholder {
                  // font-size: 14px;
                }
                > div {
                  margin-left: 10px !important;
                }
              }
            }
          }
        }
      }
    }
  }

  // -----비밀번호변경
  .userinfo-pw {
    // overflow: scroll;
    // height: 1000px !important;
    .edit-inner {
      input {
        border: 1px solid #e8e8ed;
      }
    }
  }

  // -----이용약관
  .userinfo-terms {
    padding-bottom: 100px !important;
    .edit-inner {
      // height: 250px;
      // overflow: scroll;
    }
  }

  // ------개인정보 취급방침
  .userinfo-policy {
    .edit-inner {
      height: 250px;
      overflow: scroll;
    }
  }

  // -----내정보 푸터
  .userinfo__footer {
    position: static !important;
  }
}
