@import "partial/styles";
@media (max-width: 480px) {
  .container {
    width: 100% !important;
  }

  .row {
    padding: 0 16px;
  }
  .blank-header {
    display: none;
  }

  .banner {
    display: none;
  }

  .side-bar {
    display: none;
  }

  /*--------------헤더--------------*/
  .header {
    width: 100% !important;
    position: relative;
    box-shadow: rgba(27, 29, 31, 0.12) 0px 2px 10px;

    .header__log {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      a {
        padding: 0 !important;
      }
    }

    nav {
      display: none;
    }

    .m-header__btn {
      display: inline-block !important;
      a {
        display: inline-block;
        padding: 20px 16px 10px 16px;
        img {
          width: 32px;
          height: 32px;
        }
      }
    }
  }

  /*----------모바일 서브헤더-------------*/
  .m-sub-header {
    display: block !important;
    background-color: $white;

    ul {
      display: flex;

      li {
        flex: 1;
        text-align: center;
        float: left;
        a {
          display: inline-block;
          padding: 16px 16px;
          position: relative;
        }
      }
    }
  }

  /*---------레이어팝업------------*/
  .vote-layerpopup {
    width: 90%;
    padding: 16px !important;
    padding: 20px;
    textarea {
      width: 100% !important;
    }
    h1 {
      a {
        top: -20px !important;
        right: -10px !important;
        img {
          width: 16px !important;
        }
      }
    }
  }

  .main {
    margin-top: 12px !important;
  }

  /*-----------투표-------------*/
  .vote {
    width: 100% !important;
    float: none;
  }

  .vote__main {
    margin-top: 12px !important;
    padding: 20px 16px !important;
    width: 100% !important;
    // display: none;

    /*-----투표 그래프-----*/
    h1 {
      font-size: 20px !important;
    }

    h3 {
      font-weight: 400;
    }

    .btn {
      margin-top: 44px !important;
      .yes {
        position: relative;
        .m-yes__text {
          width: 100%;
          position: absolute;
          top: -25px;
          left: 50%;
          transform: translate(-50%);
          display: block !important;
          font-size: 13px;
          color: #9b9b9b;
        }
      }
      .no {
        position: relative;
        .m-no__text {
          width: 100%;
          position: absolute;
          top: -25px;
          left: 50%;
          transform: translate(-50%);
          display: block !important;
          font-size: 13px;
          color: #9b9b9b;
        }
      }
    }

    .graph {
      display: none;
    }

    .m-graph {
      display: block !important;
      margin-top: 20px;
      .box {
        width: 56px;
        height: 56px;
        background-color: #111111;
        color: $white;
        text-align: center;
        line-height: 56px;
        float: left;
        display: block;
      }

      .wrap {
        width: 83%;
        float: left;
        .yes {
          // float: left;
          width: 100%;
          height: 24px;
          background-color: #e8e8ed;
          span {
            display: block;
            width: 70%;
            height: 24px;
            background-color: $sky;
            animation: yes 1s 0.7s;
          }
        }
        .no {
          margin-top: 8px;
          // float: left;
          width: 100%;
          height: 24px;
          background-color: #e8e8ed;
          span {
            display: block;
            width: 30%;
            height: 24px;
            background-color: $red;
            animation: no 1s 0.7s;
          }
        }
      }
    }

    /*-----투표 탭-----*/
    .vote__tab {
      .vote__tab-left {
        padding: 6px 16px !important;
        ul {
          li {
            a {
              padding: 6px 16px !important;
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .vote-past-article__item {
    a {
      h1 {
        font-size: 20px;
      }
    }
  }
}
