@import "partial/styles";
@media (max-width: 480px) {
  html,
  body {
    height: 100%;
    position: relative;
  }

  .container {
    width: 100% !important;
  }

  .row {
    padding: 0 16px;
  }
  .blank-header {
    display: none;
  }

  .banner {
    display: none;
  }

  .side-bar {
    display: none;
  }

  .footer {
  }
  .share-layerpopup {
    width: 100% !important;
    .share-layerpopup__inner {
      padding: 20px !important;
      h1 {
        font-size: 20px !important;
        button {
          padding: 8px !important;
          img {
            width: 16px !important;
          }
        }
      }
    }
  }

  /*-------------네비게이션드로어-----------------*/
  .m-nav-draw {
    display: block !important;
    position: fixed;
    width: 80%;
    height: 100%;
    background-color: #ffffff;
    z-index: 100;
    top: 0;
    left: -100%;
    .m-nav-draw__inner {
      // padding: 40px 16px;
      .btn {
        padding: 40px 16px;
        button {
          width: 100%;
          padding: 16px 16px;
          display: inline-block;
          background-color: $purple;
          color: #ffffff;
          text-align: center;
          border-radius: 3px;
          font-weight: 500;
        }
      }
      .m-nav-draw__nav {
        ul {
          li {
            border-top: 1px solid #e8e8ed;
            a {
              width: 100%;
              display: inline-block;
              padding: 16px 16px;
              img {
                width: 20px;
                vertical-align: middle;
                margin-right: 16px;
                margin-top: -2px;
              }
              span {
                font-size: 18px;
                font-weight: 400;
                color: #9b9b9b;
                vertical-align: middle;
              }
            }
          }
          li:nth-last-child(1) {
            border-bottom: 1px solid #e8e8ed;
          }
        }
      }
    }
  }

  /*--------------헤더--------------*/
  .header {
    width: 100% !important;
    position: relative;
    box-shadow: rgba(27, 29, 31, 0.12) 0px 2px 10px;

    .header__log {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      a {
        padding: 0 !important;
      }
    }

    nav {
      display: none;
    }

    .m-header__btn {
      display: inline-block !important;
      // padding: 20px 16px 10px 16px;
      padding: 20px 0;

      button {
        display: inline-block;
        img {
          width: 32px;
          height: 32px;
        }
      }
    }
  }

  /*----------모바일 서브헤더-------------*/
  .m-sub-header {
    display: block !important;
    background-color: $white;

    ul {
      display: flex;

      li {
        flex: 1;
        text-align: center;
        float: left;
        a {
          display: inline-block;
          padding: 16px 16px;
          position: relative;
        }
      }
    }
  }

  /*---------레이어팝업------------*/
  .vote-layerpopup {
    width: 90%;
    padding: 16px !important;
    padding: 20px;
    textarea {
      width: 100% !important;
    }
    h1 {
      a {
        top: -20px !important;
        right: -10px !important;
        img {
          width: 16px !important;
        }
      }
    }
  }

  .main {
    margin-top: 12px !important;
  }

  /*-----------투표-------------*/
  .vote {
    width: 100% !important;
    float: none;
  }

  .vote__main {
    margin-top: 12px !important;
    padding: 20px 16px !important;
    width: 100% !important;
    // display: none;

    /*-----투표 그래프-----*/
    h1 {
      font-size: 20px !important;
    }

    h3 {
      font-weight: 400;
    }

    .btn {
      margin-top: 44px !important;
      .yes {
        position: relative;
        .m-yes__text {
          width: 100%;
          position: absolute;
          top: -25px;
          left: 50%;
          transform: translate(-50%);
          display: block !important;
          font-size: 13px;
          color: #9b9b9b;
        }
      }
      .no {
        position: relative;
        .m-no__text {
          width: 100%;
          position: absolute;
          top: -25px;
          left: 50%;
          transform: translate(-50%);
          display: block !important;
          font-size: 13px;
          color: #9b9b9b;
        }
      }
    }

    .graph {
      display: none;
    }

    .m-graph {
      display: block !important;
      margin-top: 20px;
      .box {
        width: 16%;
        height: 56px;
        background-color: #111111;
        color: $white;
        text-align: center;
        line-height: 56px;
        float: left;
        display: block;
      }

      .wrap {
        width: 83%;
        float: left;
        .yes {
          // float: left;
          width: 100%;
          height: 24px;
          background-color: #e8e8ed;
          span {
            display: block;
            width: 0%;
            height: 24px;
            background-color: $sky;
            // animation: yes 1s 0.7s;
          }
        }
        .no {
          margin-top: 8px;
          // float: left;
          width: 100%;
          height: 24px;
          background-color: #e8e8ed;
          span {
            display: block;
            width: 0%;
            height: 24px;
            background-color: $red;
            // animation: no 1s 0.7s;
          }
        }
      }
    }

    /*-----투표 탭-----*/
    .vote__tab {
      .vote__tab-left {
        padding: 6px 16px !important;
        ul {
          li {
            a {
              padding: 6px 16px !important;
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  /*----지난투표----*/
  .vote-past-article__list {
    article {
      a {
        h1 {
          font-size: 16px !important;
        }
      }
    }
  }

  /*---------------게시판----------------*/

  .board {
    float: none;
    width: 100% !important;
  }

  /*-----게시판탭------*/
  .board__tab.tab {
    // .tab-left {
    //   padding: 6px 16px !important;
    //   ul {
    //     li {
    //       a {
    //         padding: 6px 16px !important;
    //         font-size: 14px;
    //       }
    //     }
    //   }
    // }
    .tab-right {
      // padding: 6px 16px !important;

      ul {
        li {
          a {
            padding-right: 0px !important;
            padding-left: 0px !important;
            // padding: 6px 16px !important;
            // font-size: 14px;
          }
        }
      }
    }
  }

  /*-----게시판 디테일뷰-----*/
  .m_main {
    margin-top: 0 !important;
  }

  /*--디테일뷰헤더--*/
  .view-article__header {
    .tit {
      font-size: 25px;
      display: block !important;
      span.m__span__none {
        // float: none !important;
        display: none;
      }
    }
    .view-article__sub-header {
      position: relative;
      display: block !important;
      margin-top: 16px !important;
      .profile {
        .m__span__time {
          position: absolute;
          display: block !important;
          top: 3px;
          right: 16px;
          font-size: 14px;
        }
      }
      .meta-data {
        margin-top: 4px;
        span {
          margin-right: 4px;
        }
      }
    }
  }

  /*--디테일뷰 버튼--*/
  .board-detailview .view-btn {
    ul {
      li {
        a {
          img {
            margin-top: 2px;
          }
        }
      }
    }
  }

  /*-----게시판 -----*/
  .board-write {
    input {
      margin-bottom: 8px !important;
    }
  }

  /*-------------푸터----------------*/
  .footer {
    .wrap {
      padding: 16px !important;
      display: block !important;
      .footer__left {
        text-align: center;
        ul {
          display: inline-block;
        }
      }
      .footer__right {
        margin-top: 30px !important;
        text-align: center;
        ul {
          display: inline-block;
          li {
            // text-align: center;
            a {
              margin-left: 0 !important;
              margin-right: 20px;
            }
          }
        }
      }
    }
  }

  /*----------------건의하기------------------*/
  .user-feedback__textarea {
    width: 100% !important;
    textarea {
      width: 100% !important;
    }
  }

  /*--------------회원가입 / 로그인-------------*/
  /*--전체--*/
  .sgin-up {
    width: 100% !important;
    height: 100% !important;
    padding: 0 !important;
    .sgin-up__inner {
      box-shadow: none;
      width: 100% !important;
      height: 100% !important;
      padding: 40px 20px !important;
      position: relative;
    }
  }

  /*--버튼--*/
  .btn2 {
    ul {
      width: 100% !important;
      li {
        // width: 150px !important;
        // height: 56px !important;
        // margin-right: 1% !important;
        width: 48.5%;
        margin-right: 1%;
        button {
          padding: 0 !important;
          width: 40% !important;
          height: 56px;
        }
      }

      li.next {
        background-color: $purple !important;
        margin-right: 0% !important;
      }
    }
  }

  /*--캔슬버튼--*/
  .m__cancel {
    display: block !important;
    position: absolute;
    right: 20px;
    top: 24px;
    button {
      img {
        width: 20px;
      }
    }
  }

  /*-------------내정보----------------*/

  // -----전체----
  .userinfo {
    padding: 16px !important;
  }

  // -----버튼-----
  .userinfo {
    .btn {
      // button {
      //   padding: 12px 60px !important;
      // }
      ul {
        li {
          button {
            padding: 12px 60px !important;
          }
        }
      }
    }
  }

  // -------서브헤더-----
  .sub-header {
    .sub-header__nav {
      ul::-webkit-scrollbar {
        display: none;
      }

      ul {
        overflow-x: auto;
        white-space: nowrap;

        li {
          display: inline-block;
          float: none;
          margin-right: 0;
          a {
            padding: 16px 16px;
          }
        }
      }
    }
  }

  .sub-header__nav::-webkit-scrollbar {
    display: none !important;
  }
  //----------
  .userinfo {
    .edit {
      .edit-inner {
        .edit-table {
          .edit-tr {
            .edit-th {
              // font-size: 16px;
              width: 120px !important;
              padding: 8px !important;
            }
            .edit-td {
              // font-size: 14px;
              // padding-left: 0 !important;
              padding: 8px !important;
              input {
                padding: 4px !important;
                width: 100% !important;
                &::placeholder {
                  // font-size: 14px;
                }
                > div {
                  margin-left: 10px !important;
                }
              }
            }
          }
        }
      }
    }
  }

  // -----비밀번호변경
  .userinfo-pw {
    // overflow: scroll;
    // height: 1000px !important;
    .edit-inner {
      input {
        border: 1px solid #e8e8ed;
      }
    }
  }

  // -----이용약관
  .userinfo-terms {
    padding-bottom: 100px !important;
    .edit-inner {
      // height: 250px;
      // overflow: scroll;
    }
  }

  // ------개인정보 취급방침
  .userinfo-policy {
    .edit-inner {
      height: 250px;
      overflow: scroll;
    }
  }

  // -----내정보 푸터
  .userinfo__footer {
    position: static !important;
  }
}
