@import "partial/styles";
@media (max-width: 480px) {
  .container {
    width: 100% !important;
  }

  .row {
    padding: 0 16px;
  }
  .blank-header {
    display: none;
  }

  .banner {
    display: none;
  }

  .side-bar {
    display: none;
  }

  /*-----헤더-----*/
  .header {
    width: 100% !important;
    position: relative;
    box-shadow: rgba(27, 29, 31, 0.12) 0px 2px 10px;

    .header__log {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      a {
        padding: 0 !important;
      }
    }

    nav {
      display: none;
    }

    .m-header__btn {
      display: inline-block !important;
      a {
        display: inline-block;
        padding: 17px 10px;
        img {
          width: 32px;
          height: 32px;
        }
      }
    }
  }

  .m-sub-header {
    display: block !important;
    background-color: $white;

    ul {
      display: flex;

      li {
        flex: 1;
        text-align: center;
        float: left;
        a {
          display: inline-block;
          padding: 16px 16px;
          position: relative;
          &::after {
            // display: none;
            content: "";
            width: 100%;
            height: 3px;
            background-color: $purple;
            position: absolute;
            top: 54px;
            left: 0;
          }
        }
      }
    }
  }

  .main {
    margin-top: 12px !important;
  }
  .vote {
    width: 100% !important;
    float: none;
  }

  .vote__main {
    margin-top: 12px !important;
    padding: 20px 16px !important;
    width: 100% !important;
    // display: none;
    /*-----투표 그래프-----*/
    // h1 {
    //   font-size: 20px;
    // }

    .graph {
      display: none;
    }

    .m-graph {
      display: block !important;
      margin-top: 20px;
      .box {
        width: 56px;
        height: 56px;
        background-color: #111111;
        color: $white;
        text-align: center;
        line-height: 56px;
        float: left;
      }
      .yes {
        // float: left;
        width: 100%;
        height: 24px;
        background-color: #e8e8ed;
      }
      .no {
        margin-top: 8px;
        // float: left;
        width: 100%;
        height: 24px;
        background-color: #e8e8ed;
      }
    }

    /*-----투표 탭-----*/
    .vote__tab {
      .vote__tab-left {
        padding: 6px 16px !important;
        ul {
          li {
            a {
              padding: 6px 16px !important;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
