@import "partial/styles";
@import "partial/mixins";

.sgin-up {
  position: relative;
  min-width: 320px;
  min-height: 100%;
  padding: 170px 0;
  .sgin-up__inner {
    overflow: auto;
    width: 450px;
    height: 840px;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 40px;
  }
  .sgin-up__inner::-webkit-scrollbar {
    display: none;
  }
}

/*--------로그인--------*/
.sgin-up__inner {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  .tit {
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    margin-top: 40px;
  }
  h1 {
    text-align: center;
    margin-bottom: 10px;
    img {
      width: 150px;
    }
  }
  .border {
    width: 100%;
    height: 1px;
    background-color: #111111;
  }
  h2 {
    margin-top: 20px;
    color: #111111;
    font-size: 20px;
  }
  input {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    padding: 12px 0;
    width: 100%;
    margin-top: 20px;
  }

  .login-checkbox {
    margin-top: 20px;
    input[id="chbx_style"] {
      display: none;
    }
    input[id="chbx_style"] + label {
      position: relative;
      padding-left: 25px;
      cursor: pointer;
    }
    input[id="chbx_style"] + label::before {
      position: absolute;
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      left: 0;
      top: 4px;
      border: 1px solid #999999;
    }
    input[id="chbx_style"]:checked + label::before {
      background-color: $purple;
      width: 16px;
      height: 16px;
    }
  }

  .btn {
    margin-top: 24px;
    width: 100%;
    text-align: center;
    width: 100%;
    cursor: pointer;
    background-color: $purple;
    border-radius: 3px;
    a {
      text-align: left;
      color: #ffffff;
      display: inline-block;
      padding: 16px 50px;
    }
  }

  .add-text {
    margin-top: 8px;
    text-align: center;
    a {
      color: $purple;
    }
  }
}

/*----------개인정보 / 이용약관 동의------------*/
.sgin-up__inner.policy {
  .policy-check {
    margin-top: 20px;
    .chbox {
      position: relative;

      input[id="chbx_policy"] {
        display: none;
      }
      input[id="chbx_policy"] + label {
        cursor: pointer;
        height: 150px;
      }
      input[id="chbx_policy"] + label::before {
        position: absolute;
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        right: 0px;
        top: 4px;
        border: 1px solid #999999;
      }
      input[id="chbx_policy"]:checked + label::before {
        background-color: $purple;
        width: 16px;
        height: 16px;
      }
    }
    .cont {
      margin-top: 8px;
      background-color: $thinsky;
      padding: 8px;
      @extend %ftColorgray;
      height: 200px;
      overflow: auto;
    }
  }

  .service-check {
    margin-top: 20px;
    .chbox {
      position: relative;

      input[id="chbx_service"] {
        display: none;
      }
      input[id="chbx_service"] + label {
        cursor: pointer;
        height: 150px;
      }
      input[id="chbx_service"] + label::before {
        position: absolute;
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        right: 0px;
        top: 4px;
        border: 1px solid #999999;
      }
      input[id="chbx_service"]:checked + label::before {
        background-color: $purple;
        width: 16px;
        height: 16px;
      }
    }
    .cont {
      margin-top: 8px;
      background-color: $thinsky;
      padding: 8px;
      @extend %ftColorgray;
      height: 200px;
      overflow: auto;
    }
  }

  .btn2 {
    margin-top: 16px;
    text-align: center;
    ul {
      display: inline-block;
      li {
        float: left;
      }

      li.prev {
        border: 1px solid #9b9b9b;
        margin-right: 8px;
        a {
          color: #9b9b9b;
          display: inline-block;
          padding: 16px 68px;
        }
      }

      li.next {
        background-color: #e8e8ed;
        a {
          color: #ffffff;
          display: inline-block;
          padding: 16px 68px;
        }
        &:hover {
          background-color: $purple;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}

/*--------아이디 / 비밀번호 / 닉네임등록 (유저정보)------------*/

.sgin-up__inner.userinfo {
  h2 {
    font-size: 16px;
    span {
      color: $purple;
      font-size: 14px;
    }
  }

  .btn2 {
    margin-top: 40px;
    text-align: center;
    ul {
      display: inline-block;
      li {
        float: left;
      }

      li.prev {
        border: 1px solid #9b9b9b;
        margin-right: 8px;
        a {
          color: #9b9b9b;
          display: inline-block;
          padding: 16px 68px;
        }
      }

      li.next {
        background-color: #e8e8ed;
        a {
          color: #ffffff;
          display: inline-block;
          padding: 16px 68px;
        }
        &:hover {
          background-color: $purple;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}

/*----------------------프로필사진등록------------------------*/
.sgin-up__inner.profile {
  h2 {
    font-size: 16px;
    span {
      color: $purple;
      font-size: 14px;
    }
  }
  .user-profileimg {
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    img {
      width: 80px;
    }
  }

  .btn2 {
    margin-top: 400px;
    text-align: center;
    ul {
      display: inline-block;
      li {
        float: left;
      }

      li.prev {
        border: 1px solid #9b9b9b;
        margin-right: 8px;
        a {
          color: #9b9b9b;
          display: inline-block;
          padding: 16px 68px;
        }
      }

      li.next {
        background-color: #e8e8ed;
        a {
          color: #ffffff;
          display: inline-block;
          padding: 16px 68px;
        }
        &:hover {
          background-color: $purple;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}

/*-------경고메세지---------*/
.sgin-up__text {
  font-size: 14px;
  color: red;
  margin-top: 8px;
}
