@import "partial/styles";

p {
  color: #555555;
}

/*-----레이아웃-----*/
body {
  background-color: $bgColor;
  // background-color: #f2f2f2;
}

.m-banner-index {
  display: block;
  img {
    display: block;
    width: 100%;
  }
}

.container {
  width: 1060px;
  margin: 0 auto;
  position: relative;
  /*---광고배너__컨테이너---*/
  .aside-160x600__right {
    position: absolute;
    top: 0;
    right: -176px;
    img {
      width: 160px;
      height: 600px;
    }
  }
}

main {
  margin-top: 16px;
}

.bgblack-layerpopup {
  display: none;
  z-index: 50;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.share-layerpopup {
  display: none;
  z-index: 100 !important;
  width: 500px;
  height: 250px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .share-layerpopup__inner {
    background-color: #ffffff;

    padding: 40px;
    h1 {
      font-size: 25px;
      text-align: center;
      button {
        padding: 10px;
        float: right;

        img {
          width: 20px;
        }
      }
    }

    .btn__inner {
      margin-top: 40px;
      button {
        img {
          width: 56px;
        }
        div {
        }
      }
    }
  }
}

.m-nav-draw {
  display: none;
}

// .m-header {
//   display: none;
// }

.m-top-btn {
  display: none !important;
}
.top-btn {
  display: none;
}

.top-btn {
  background-color: #3f3fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #ffffff;
  text-align: center;
  border-radius: 30px;
  position: fixed;
  bottom: 50px;
  right: 10%;
  z-index: 10;
  cursor: pointer;
  box-shadow: 3px 3px 8px 2px #9b9b9b;
}

/*------icon--------*/
.ic_new {
  color: #fb5252;
  margin-left: 4px;
  font-weight: 500;
  font-size: 13px;
}

/*----- active -----*/

.header__fixed {
  position: fixed;
  top: 0px;
}

.sidebar__fixed {
  position: fixed;
  top: 16px;
}

.font__active__purple_400 {
  color: $purple !important;
}

.font__active__purple {
  color: $purple !important;
  font-weight: 500;
}
.font__active__sky {
  color: $sky !important;
}
.font__active__red {
  color: $red !important;
}

.font__active__gray {
  color: #9b9b9b;
}

.underline__active__purple {
  border-bottom: 3px solid $purple;
}
.div__actvie__thinsky {
  background-color: $thinsky !important;
}
.div__acvtive__red {
  background-color: $red !important;
}

.div__flex {
  display: flex !important;
}

.div__none {
  display: none !important;
}

/*-------경고메세지---------*/
.alert-text {
  font-size: 14px;
  color: red;
  margin-top: 8px;
}

/*---------해외아이피벤---------/*/
.notice__ip-ban {
  // margin-top: 20px !important;
  margin: 0 auto;
  width: 80%;
  background-color: #3f3fff;
  text-align: center;
  border-radius: 30px;
  position: relative;
  box-shadow: 3px 3px 8px 2px #9b9b9b;

  a {
    font-size: 20px;
    display: inline-block;
    padding: 16px;
    width: 100% !important;
    color: #ffffff;

    img {
      position: absolute;
      right: 50px;
      width: 20px;
      top: 20px;

      // padding-right: 20px;
    }
  }

  &:hover {
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
  }
}

.notice__ip-ban__board {
  margin-top: 16px;
  margin-bottom: 16px;
}

/*-----헤더-----*/

.blank-header {
  height: 30px;
  background-color: $bgColor;
}

.m-header {
  height: 56px !important;
}

.header {
  z-index: 2;
  background-color: $white;
  height: 70px;
  .header__log {
    float: left;
    a {
      padding: 13px 32px 13px 0;
      font-size: 30px;
      color: $purple;
      display: inline-block;
      img {
        width: 130px;
        height: auto;
      }
    }
  }

  .header__nav {
    float: right;
    ul {
      li {
        float: left;
        a {
          display: inline-block;
          padding: 23px 0 23px 32px;
          &:hover {
            color: $purple;
            font-weight: 500;
          }
        }
      }
    }
  }
}

/*-----배너-----*/
.banner {
  position: relative;
  .banner__col1 {
    height: 230px;
    @extend %bgWhite;
  }
  .banner__col2 {
    height: 70px;
    @extend %bgPurple;
  }
  img {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 200px;
  }
}

/*----- 사이드바 -----*/
.side-bar {
  width: 300px;
  float: left;
  .side-bar__nav {
    // font-family: s-core-dream-regular;

    @extend %bxWhiteGray;

    div.notice {
      color: red;
    }

    div.side-bar__nav-issue {
      margin-top: 0;
    }

    div {
      margin-top: 8px;
      padding: 8px 24px;
      color: #9b9b9b;
      font-size: 14px;
      border-bottom: 1px solid #e8e8ed;
      ul {
        li {
          a {
            color: #424242;
            vertical-align: middle;
            display: inline-block;
            padding: 4px 16px;
            font-size: 15px;
            &:hover {
              color: $purple;
            }
            span {
              img {
                vertical-align: middle;
                width: 15px;
                margin-left: 4px;
                margin-top: -4px;
              }
            }
          }
        }
      }
    }

    div:nth-last-of-type(1) {
      border: 0;
    }

    // ul {
    //   li {
    //     a {
    //       vertical-align: middle;
    //       display: inline-block;
    //       padding: 8px 20px 8px 20px;
    //       @extend %ftColorgray;
    //       &:hover {
    //         color: $purple;
    //         font-weight: 500;
    //       }
    //       span {
    //         img {
    //           width: 15px;
    //           margin-left: 4px;
    //           vertical-align: middle;
    //           margin-top: -4px;
    //         }
    //       }
    //     }
    //   }
    // }
  }

  /*---광고배너__컨테이너---*/
  .aside-300x250__left {
    text-align: center;

    img {
      width: 300px;
      height: 250px;
    }
  }
}

.aside-300x250__right {
  display: inline-block;
  text-align: center;
  float: right;
  img {
    width: 350px;
  }
}

.m_aside-320x100 {
  display: none;
}

.m_aside-320x50 {
  display: none;
}

.aside_320x100 {
  display: none;
  img {
    display: block;
  }
}

.aside-728x90 {
  img {
    display: block;
  }
}

/*-----푸터-----*/
.footer {
  background-color: #1b1d1f;
  margin-top: 32px;
  width: 100%;

  .wrap {
    padding: 40px;
    display: flex;
    // display: table;
    // table-layout: fixed;
    .footer__left {
      // display: table-cell;
      // width: 100%;
      flex: 1;
      ul.menu {
        li {
          float: left;
          margin-right: 12px;
          a {
            color: $white;
          }
        }
      }
      .meta-data {
        color: $white;
        div {
          font-size: 14px;
          @extend %ftColorgray;
        }
      }
    }
    .footer__right {
      // display: table-cell;
      margin-top: 60px;
      ul {
        li {
          float: left;
          a {
            margin-left: 20px;
            img {
              width: 40px;
            }
          }
        }
      }
    }
  }
}

.footer.bottom {
  position: absolute;
  bottom: 0;
}

/*--이거 추가해주셈 (데이터 완전히 렌더링되기전에 깜빡거리면서 코드 보이는거 안보이게해줌)
--*/
[v-cloak]::before {
  content: "로딩중...";
}
[v-cloak] > * {
  display: none;
}
