@import "partial/styles";

/*-----레이아웃-----*/
body {
  background-color: $bgColor;
}

.container {
  width: 1060px;
  margin: 0 auto;
}

main {
  margin-top: 16px;
}

.bgblack-layerpopup {
  display: none;
  z-index: 50;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

/*----- active -----*/
.sidebar__fixed {
  position: fixed;
  top: 16px;
}

.font__active__purple {
  color: $purple !important;
  font-weight: 500;
}
.font__active__sky {
  color: $sky !important;
}
.font__active__red {
  color: red !important;
}
.div__actvie__thinsky {
  background-color: $thinsky !important;
}

.div__flex {
  display: flex !important;
}

.div__none {
  display: none !important;
}

/*-----헤더-----*/

.blank-header {
  height: 30px;
  background-color: $bgColor;
}

.header {
  background-color: $white;
  height: 70px;
  .header__log {
    float: left;
    a {
      padding: 13px 32px 13px 0;
      font-size: 30px;
      color: $purple;
      display: inline-block;
    }
  }

  .header__nav {
    float: right;
    ul {
      li {
        float: left;
        a {
          display: inline-block;
          padding: 23px 0 23px 32px;
          &:hover {
            color: $purple;
            font-weight: 500;
          }
        }
      }
    }
  }
}

/*-----배너-----*/
.banner {
  .banner__col1 {
    height: 230px;
    @extend %bgWhite;
  }
  .banner__col2 {
    height: 70px;
    @extend %bgPurple;
  }
}

/*----- 사이드바 -----*/
.side-bar {
  width: 300px;
  float: left;
  .side-bar__nav {
    @extend %bxWhiteGray;
    padding: 8px 24px;
    ul {
      li {
        a {
          display: inline-block;
          padding: 8px 20px 8px 20px;
          @extend %ftColorgray;
          &:hover {
            color: $purple;
            font-weight: 500;
          }
        }
      }
    }
  }

  .side-bar__aside {
    margin-top: 16px;
    width: 100%;
    height: 500px;
    @extend %bxWhiteGray;
  }
}
