@import "partial/styles";
@import "partial/mixins";

.vote {
  float: right;
  width: 744px;
}

.vote__tab.tab {
  .tab-left {
    padding: 10px 16px;
    @extend %bxWhiteGray;
    float: left;
    ul {
      li {
        float: left;
        a {
          display: inline-block;
          padding: 8px 16px;
          @extend %ftColorgray;

          img {
            width: 20px;
            height: 20px;
            margin-right: 4px;
            vertical-align: middle;
          }
          span {
            vertical-align: middle;
          }
        }
      }

      // li.active {
      //   span {
      //     color: red !important;
      //   }
      //   img {
      //     content: url("on.svg");
      //   }
      // }

      // li.btn__item--3:active {
      //   a {
      //     color: red !important;
      //     img {
      //       width: 100px;
      //       height: 100px;
      //       background: url("img/ic_tab-all_on.svg") no-repeat;
      //     }
      //   }
      // }
    }
  }
}

.vote__main {
  margin-top: 8px;
  @extend %bxWhiteGray;
  padding: 40px 20px;
  h1 {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
  }

  h3 {
    margin-top: 8px;
    text-align: center;
    // font-size: 20px;
    font-weight: 400;
  }
}

.vote__main .graph {
  margin-top: 32px;
  ul {
    li {
      float: left;
      &.yes {
        width: 44.5%;
        height: 30px;
        margin-top: 23px;
        position: relative;
        & > div {
          width: 100%;
          height: 30px;
          @extend %bgGray1;
          & > span {
            display: block;
            width: 0%;
            height: 30px;
            background-color: #13bde9;
            // animation: yes 1s 0.7s;
            float: right;
          }
        }
        & > h2 {
          position: absolute;
          top: -30px;
        }
      }
      &.box {
        width: 11%;
        @extend %bgBlack;
        @extend %ftColorWhite;
        font-size: 20px;
        position: relative;
        &::after {
          content: "";
          display: block;
          padding-bottom: 100%;
        }
        & > div {
          position: absolute;
          top: 50%;
          left: 50%;
          color: white;
          transform: translate(-50%, -50%);
        }
      }
      &.no {
        width: 44.5%;
        height: 30px;
        margin-top: 23px;
        position: relative;
        & > div {
          width: 100%;
          height: 30px;
          @extend %bgGray1;
          & > span {
            display: block;
            width: 0%;
            height: 30px;
            background-color: #fe6181;
            // animation: no 1s 0.7s;
          }
        }
        & > h2 {
          position: absolute;
          top: -30px;
          right: 0;
        }
      }
    }
  }
}

.vote__main .btn {
  margin-top: 32px;
  text-align: center;
  margin-bottom: 24px;

  ul {
    text-align: center !important;
    display: inline-block;

    li {
      float: left;
      margin-right: 16px;
      &.yes {
        @extend %bgGray1;

        button {
          @extend %bgGray1;
          padding: 10px 32px;
          display: inline-block;
          @extend %transition;

          img {
            width: 20px;
            height: 20px;
            vertical-align: middle;
            margin-right: 8px;
            margin-top: 0px;
          }
          span {
            @extend %ftColorWhite;
            vertical-align: middle;
          }

          &:hover {
            background-color: $sky;
          }
        }
      }
      &.no {
        button {
          @extend %bgGray1;

          padding: 10px 32px;
          display: inline-block;
          color: $purple;
          @extend %transition;

          img {
            width: 20px;
            height: 20px;
            vertical-align: middle;
            margin-right: 8px;
            margin-top: -3px;
          }
          span {
            @extend %ftColorWhite;
            vertical-align: middle;
          }
          &:hover {
            background-color: $red;
          }
        }
      }
    }
    li.no {
      a {
        img {
          margin-top: 0px;
        }
      }
    }
  }
}

// .vote__main

.vote__main .btn-share {
  margin-top: 24px;
  overflow: hidden;
  button {
    float: right;
    img {
      width: 16px;
      height: 16px;
      vertical-align: middle;
      //   margin-top: -2px;
    }
    span {
      font-size: 14px;
      @extend %ftColorgray;
      vertical-align: middle;
    }
  }
}

@keyframes yes {
  0% {
    width: 0;
  }

  100% {
    width: 70%;
  }
}

@keyframes no {
  0% {
    width: 0;
  }

  100% {
    width: 30%;
  }
}

.vote__feed {
  margin-top: 16px;
  margin-bottom: 8px;
}

/*------테스트영역-----*/
.vote__feed .article-feed__item {
  background-color: $white;
  @extend %bxWhiteGray;
  margin-bottom: 8px;
}

/*-----테스트영역 메인------*/
.vote__feed .article-feed__main {
  padding: 12px;
  display: flex;
  border-bottom: 1px solid #e8e8ed;
  .cont-left {
    img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50px;
    }
    div {
      text-align: center;
      font-size: 14px;
    }
  }
  .cont-right {
    margin-left: 8px;
    .user-nickname {
      span {
        vertical-align: middle;
        font-size: 14px;
        font-weight: 500;
      }
      img {
        vertical-align: middle;
        width: 20px;
        height: 20px;
      }
    }
    .user-cont {
      margin-top: 4px;
      font-size: 14px;
    }

    .btn {
      margin-top: 8px;
      ul {
        li {
          float: left;
          margin-right: 16px;
          button {
            img {
              width: 16px;
              height: 16px;
              vertical-align: middle;
              margin-right: 4px;
            }
            span {
              font-size: 13px;
              @extend %ftColorgray;
              vertical-align: middle;
            }
            em {
              font-size: 13px;
              @extend %ftColorgray;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
}

/*-----테스트영역  댓글-------*/
.vote__feed .article-feed__commnet-inner {
  .article-feed__commnet-item {
    padding: 12px 12px 12px 64px;
    border-bottom: 1px solid #e8e8ed;
    background-color: #f8f9fa;
    display: flex;
    .cont-left {
      margin-right: 8px;
      .user-profile {
        img {
          width: 32px;
          height: 32px;
          object-fit: cover;
          border-radius: 50px;
          vertical-align: middle;
          margin-right: 4px;
        }
        // span {
        //   vertical-align: middle;
        //   font-size: 13px;
        //   font-weight: 500;
        //   margin-right: 4px;
        // }
        // p {
        //   display: inline;
        //   vertical-align: middle;
        //   font-size: 13px;
        // }
      }
    }
    .cont-right {
      margin-top: 4px;
      .user-nickname {
        font-size: 13px;
        font-weight: 500;
      }
      p {
        font-size: 13px;
      }
      .btn {
        margin-top: 8px;
        ul {
          li {
            button {
              font-size: 13px;
              background-color: #f8f9fa;
              @extend %ftColorgray;
            }
          }
        }
      }
    }
  }
}

/*-----테스영역 댓글쓰기-----*/
.vote__feed .article-feed__commnet-write {
  display: flex;
  input {
    padding: 16px 0px 12px 16px;
    flex: 1;
    border: 0;
    width: 100%;

    &::placeholder {
      @extend %ftColorgray;
    }
  }
  button {
    width: 100px;
    line-height: 56px;
    color: $purple;
  }
}

/*-----투표 레이어팝업-----*/
.vote-layerpopup {
  display: none;
  padding: 40px;
  z-index: 100;
  position: fixed;
  background-color: $white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  h1 {
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    position: relative;
    em {
      font-weight: 500;
      color: $purple;
    }
    a {
      display: inline-block;
      padding: 10px;
      background: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7")
        0 0 repeat;
      position: absolute;
      top: -30px;
      right: -20px;

      img {
        width: 20px;
        height: 20px;
      }
    }
  }

  textarea {
    margin-top: 20px;
    width: 356px;
    height: 160px;
    border: 1px solid #e8e8ed;
    padding: 8px;

    &::placeholder {
      @extend %ftColorgray;
      font-size: 14px;
      //   padding: 8px;
    }
    // &::focus {
    //   color: transparent;
    // }
  }

  // .btn {
  //   margin-top: 32px;
  //   ul {
  //     li {
  //       text-align: center;
  //       a {
  //         @extend %ftColorPurple;
  //         @extend %bxWhitePurple;
  //         padding: 10px 32px;
  //         display: inline-block;
  //       }
  //     }
  //   }
  // }

  button {
    margin-top: 32px !important;

    display: block;
    margin: 0 auto;
    div {
      background-color: #ffffff;
      border: 1px solid $purple;
      color: $purple;
      width: 120px;
      line-height: 56px;
      cursor: pointer;
      text-align: center;
    }
  }
}

/*------지난 찬반 투표-----*/
.vote-past-article__list {
  margin-top: 8px;
  article:nth-child(1) {
    margin-top: 0;
  }
  article {
    @extend %bxWhiteGray;
    margin-top: 8px;
    &:hover {
      background-color: $purple;
      transition: all 0.5s ease-in-out;
      a {
        h1 {
          color: white;
        }
        .icon {
          div {
            span {
              color: white;
            }
          }
        }
      }
    }

    a {
      display: inline-block;
      padding: 16px;
      width: 100%;
      position: relative;
      h1 {
        font-size: 20px;
        font-weight: 300;
      }

      .icon {
        margin-top: 8px;
        padding-left: 10px;

        div {
          display: inline;
          margin-right: 8px;
          span {
            img {
              vertical-align: middle;
              width: 16px;
            }
          }
          span {
            vertical-align: middle;
            color: #9b9b9b;
            font-weight: 400;
            font-size: 15px;
          }
        }
      }
    }
  }
}

.vote-past .vote-past-article__add {
  margin-top: 6px;
  text-align: center;
  background-color: #ffffff;
  width: 100%;

  button {
    color: #9b9b9b;
    display: inline-block;
    padding: 16px;
    width: 100%;
    cursor: pointer;
  }
}
